{% extends "index.html" %}
{% load static %} 
{% block headercontent %}

    Leads

{% endblock %}
{% block content %}
<style>
    .payment_button{
        padding:2px;
    }
    .fa-pencil-square-o{
        color:#b66dff;
    }

    .card{
        padding:5px;
    }
    .card-footer {
        background-color: white;
    }
    .select2-container--default .select2-selection--single {
        height: 35px !important;
      }
      .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 0px;
        padding-top: 0px;
        font-size: var(--f-lg);
        color: var(--fc-md-dark);
      }
      .error{
        font-size: 12px;
      }
      .nav-pills .nav-link.active, .nav-pills .show>.nav-link {

        cursor: pointer;
    }
</style>

<main class="main-wrapper">
    {% if messages %}
    <div class="row" style="justify-content: center;">
        <div class="col-sm-6 col-sm-offset-3">
        {% for message in messages %}
        <div style="display: flex; margin: 15px 0px;flex-direction: row-reverse;justify-content: center;align-items: center;" class="alert alert-meaasge alert-{{ message.tags }} alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="background: transparent; border: none; font-size: 25px; color: #ff0000;">
            <span aria-hidden="true">&times;</span>
            </button>
            <p style="margin-bottom: 0px;">{{ message }}</p>
        </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="title-div">

        <!-- <span class="company-title">Leads</span> -->
        <span ></span>
        
        <!-- Update Company start-->
        <div class="">
            <!-- Button trigger modal -->
    
            <!-- Modal -->
            <div class="modal fade" id="UpdateexampleModal" tabindex="-1" role="dialog" aria-labelledby="UpdateexampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="UpdateexampleModalLabel">Update Company</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="post">
                                <div class="row pt-3">
                                    <div class="col-lg-6 form-group">
                                        <label for="Update_Company_Name">Company Name</label>
                                        <input type="text" id="Update_Company_Name" name="Update_Company_Name" placeholder="Company Name"
                                            class="form-control">
    
                                            <p id="Update_Company_Name_e" class="error"></p> 
    
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="Update_GST-IN">GST-IN</label>
    
                                        <input type="text" id="Update_GST-IN" name="Update_GST-IN" placeholder="GST-IN Number"
                                            class="form-control" maxlength="15" oninput="this.value = this.value.toUpperCase()">
                                            <p id="Update_GST-IN_e" class="error"></p> 
    
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="Update_CompanyAdminEmailId">Company Admin Email Id </label>
    
                                        <input type="text" id="Update_CompanyAdminEmailId" name="Update_CompanyAdminEmailId"
                                            placeholder="Company Admin Email Id " class="form-control">
                                            <p id="Update_CompanyAdminEmailId_e" class="error"></p> 
    
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="Update_AadharNumber">Aadhar Number </label>
    
                                        <input type="text" id="Update_AadharNumber" name="Update_AadharNumber"
                                            placeholder="Aadhar Number " class="form-control" maxlength="12" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">
                                            <p id="Update_AadharNumber_e" class="error"></p> 
    
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="Update_CompanyType">Company Type </label>
    
                                        <select id="Update_CompanyType" name="Update_CompanyType" placeholder="Company Type "
                                            class="form-control js-example-basic-single">
                                            {% for p in companytypelist %}
                                                <option value="{{p.companyType}}">{{p.companyType}}</option>
                                            {%endfor%}
                                        </select>
                                        <p id="Update_CompanyType_e" class="error"></p> 
    
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="Update_Pan-CardNumber">Pan-Card Number </label>
    
                                        <input type="text" id="Update_Pan-CardNumber" name="Update_Pan-CardNumber"
                                            placeholder="Pan-Card Number " class="form-control"  maxlength="10" oninput="this.value = this.value.toUpperCase()">
                                            <p id="Update_Pan-CardNumber_e" class="error"></p> 
    
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <label for="Update_CompanyAddress">Company Address </label>
    
                                        <input type="text" id="Update_CompanyAddress" name="Update_CompanyAddress"
                                            placeholder="Company Address " class="form-control">
                                            <p id="Update_CompanyAddress_e" class="error"></p> 
    
                                    </div>
    
    
                                    <div class="col-lg-12 form-group">
                                        <label for="Update_gstcertificate" class="Documents col-lg-12 m-0 p-0">
                                            <p class="m-0 p-0">Upload GST Documents</p>
                                            <div class="col-lg-12 m-0 p-0 d-flex justify-content-between">
                                                <span class="text-primary file-input-text">Max file size upto 1MB</span>
                                                <span class="text-primary"><img src="{% static 'assets/icons/upload_icon-24px.svg' %}" class="upload_icon" alt="upload icon"/></span>
    
                                            </div>
                                            <input type="file" onchange="imagePreview(this);" name="Update_gstcertificate" id="Update_gstcertificate" class="form-control-file"  hidden="hidden">
                                        </label>
                                        <p id="Update_gstcertificate_e" class="error"></p> 
    
                                    </div>
                                    <div class="col-lg-12">
                                        <img id="preview_Update_gstcertificate" width="100px" height="100px" src=""  alt="Update gstcertificate">
                                    </div>  
                                    <div class="col-lg-12 form-group">
                                        <label for="Update_companylogos" class="Documents col-lg-12 m-0 p-0 mt-2">
                                            <p class="m-0 p-0">Upload Company Logo</p>
                                            <div class="col-lg-12 m-0 p-0 d-flex justify-content-between">
                                                <span class="text-primary file-input-text">Max file size upto 1MB</span>
                                                <span class="text-primary"><img src="{% static 'assets/icons/upload_icon-24px.svg' %}" class="upload_icon" alt="upload icon"/></span>
                                            </div>
                                            <input type="file" onchange="imagePreview(this);" name="Update_companylogos" id="Update_companylogos" class="form-control-file"  hidden="hidden" >
                                        </label>
                                        <p id="Update_companylogos_e" class="error"></p> 
    
                                    </div>
                                    <div class="col-lg-12">
                                        <img id="preview_Update_companylogos" width="100px" height="100px" src="" alt="Update companylogos">
                                    </div>  
                                </div>
    
                        </div>
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update Company Plan</h5>
                        </div>
                        <div class="modal-body">
                            <div class="row py-3">
                                <div class="col-lg-6 form-group">
                                    <label for="Update_Plan_Period">Plan Period</label>
                                    <select type="text" id="Update_Plan_Period" name="Update_Plan_Period" placeholder="Plan Period"
                                    onchange="updategetamountbyperiod();" onclick="this.setAttribute('value', this.value);"
                                        class="form-control js-example-basic-single">
                                        <option value="" selected disabled>Select Plan</option>
                                        {%for p in periodlist%}
                                            <option value="{{p.period}}">{{p.period}}</option>
                                        {%endfor%}
                                    </select>
    
                                    <p id="Update_Plan_Period_e" class="error"></p> 
    
    
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label for="Update_Payment">Payment</label>
    
                                    <input type="text" id="Update_Payment" name="Update_Payment" placeholder="Payment"
                                        class="form-control">
                                        <p id="Update_Payment_e" class="error"></p> 
                                        <input type="text" id="Update_companyid" name="Update_companyid" hidden>
                                </div>
    
                            </div>
                            </form>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-outline-danger rounded-pill"
                                data-bs-dismiss="modal">Cancel</button>
                            <button type="button" onclick="UpdateformValidation();" class="btn btn-info rounded-pill">+ Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Update Company end-->
    </div>  

    <div class="leads-div">
        <!-- Card-Box_Nav-Bar_Nav-Pills -->
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item p-0 m-0" role="presentation">
              <button class="nav-link active" id="pills-incomplete-tab" data-bs-toggle="pill" data-bs-target="#pills-incomplete" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Incomplete Registration</button>
            </li>

            <li class="nav-item p-0 m-0" role="presentation">
              <button class="nav-link" id="pills-active-tab" data-bs-toggle="pill" data-bs-target="#pills-active" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Active Company</button>
            </li>

            <li class="nav-item p-0 m-0" role="presentation">
              <button class="nav-link" id="pills-inactive-tab" data-bs-toggle="pill" data-bs-target="#pills-inactive" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">InActive Company</button>
            </li>
            

        </ul>
        

        <div class="tab-content" id="pills-tabContent">
            <!-- 1st-Pane -->
            <div class="tab-pane fade show active" id="pills-incomplete" role="tabpanel" aria-labelledby="pills-incomplete_registration-tab">
                
                <div class="row all-leads-div">
                    {%for i in incompleteregistration %}
                    <div class="col-lg-4 mt-3">
                        
                        <div id="card" class="card text-start">

                            <div class="card-header head d-flex justify-content-between align-items-center">
                                <span class="d-flex justify-content-between">
                                    <h5 class="card-company-name">{{i.companyName}}</h5>
                                </span>
                                <span>
                                    <a href="{% url 'company:viewCompany' i.id %}" class="payment_button" data-bs-toggle="tooltip" title="view company" class="btn"> 
                                        <img class="lead-icon-eye" src="{% static "assets/icons/Group 19829.svg"%}" aria-hidden="true" /> </a>
                                        <a class="px-1" id="{{i.id}}" data-bs-toggle="modal" onclick="getcompany(this.id);" data-bs-target="#UpdateexampleModal"><img class="edit-icon" src="{% static 'assets/images/Group 16728.svg' %}" height="20px" alt="edit icon"></a>

                                </span>

                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p class="empCardField">Registered At :</p>
                                        <p> {{i.created_at}} </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <p class="empCardField">Company Admin:</p>
                                        <p data-bs-toggle="tooltip" data-bs-placement="bottom"  title="{{i.memberadmin}}">{{i.memberadmin}}</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <p class="empCardField">Company Type:</p>
                                        <p data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{i.companyType}}.">{{i.companyType}}.</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <p class="empCardField">Company Adress:</p>
                                        <p class="company-address-text" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{i.companyAddress}}.">{{i.companyAddress}}.</p>
                                    </div>
                                </div>

                            </div>



                        </div>

                    </div>
                    {%endfor%}
                </div>
            
            </div>

            <!-- 2nd Pane -->
            <div class="tab-pane fade" id="pills-active" role="tabpanel" aria-labelledby="pills-active_company-tab">

                <div class="row">
                    {%for i in activecompany%}
                    <div class="col-lg-4 mt-3">
                        
                        <div   class="card text-start">

                            <div class="card-header head d-flex justify-content-between align-items-center">
                                <span class="d-flex justify-content-between">
                                    <h5 class="card-company-name">{{i.companyName}}</h5>
                                </span>
                                <span>
                                    <a href="{% url 'company:viewCompany' i.id%}" class="payment_button" data-bs-toggle="tooltip" title="view company" class="btn">
                                        <img class="lead-icon-eye" src="{% static "assets/icons/Group 19829.svg"%}" aria-hidden="true" /> </a>
                                </span>
                                
                            </div>

                            <div class="card-body">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <p class="empCardField">Registered At :</p>
                                        <p> {{i.created_at}} </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <p class="empCardField">Company Admin:</p>
                                        <p data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{i.memberadmin}}">{{i.memberadmin}}</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <p class="empCardField">Company Type:</p>
                                        <p data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{i.companyType}}.">{{i.companyType}}.</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <p class="empCardField">Company Adress:</p>
                                        <p data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{i.companyAddress}}.">{{i.companyAddress}}.</p>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>
                    {%endfor%}
                     

                </div>

            </div>

            <!-- 3rd Pane -->
            <div class="tab-pane fade" id="pills-inactive" role="tabpanel" aria-labelledby="pills-inactive_company-tab">

                <div class="row">

                    {%for i in inactivecompany%}
                    <div class="col-lg-4 mt-3">
                        
                        <div id="card" class="card text-start">

                            <div class="card-header head d-flex justify-content-between align-items-center">
                                <span class="d-flex justify-content-between">
                                    <h5 class="card-company-name">{{i.companyName}}</h5>
                                </span>
                                <span>
                                    <a href="{% url 'company:viewCompany' i.id%}" class="payment_button" data-toggle="tooltip" title="Make Payment" class="btn">
                                        <img class="lead-icon-eye" src="{% static "assets/icons/Group 19829.svg"%}" aria-hidden="true" />  </a>
                                </span>

                            </div>

                            <div class="card-body">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <p class="empCardField" >Registered At :</p>
                                        <p> {{i.created_at}} </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <p class="empCardField">Company Admin:</p>
                                        <p data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{i.memberadmin}}">{{i.memberadmin}}</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <p class="empCardField">Company Type:</p>
                                        <p data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{i.companyType}}.">{{i.companyType}}.</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <p class="empCardField">Company Adress:</p>
                                        <p data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{i.companyAddress}}.">{{i.companyAddress}}.</p>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>
                    {%endfor%}

                

                </div>

            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block script %}
{{block.super}}
<script>
    $(document).ready(function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        })       
    })









    function getcompany(val){
        var companyid=val;
        $.ajax({
            type: 'POST',
            url: backendURL+'company/api/companybyid',
            headers: {"Authorization": "Token {{token}}"},
            dataType: 'json',
            data: {
                id: companyid,
                csrfmiddlewaretoken: '{{csrf_token}}'
            },
            success: function (response) {
                console.log("success response",response)
                $("#Update_Company_Name").val(response.data.companyName);
                $("#Update_GST-IN").val(response.data.gstNumber);
                $("#Update_CompanyAdminEmailId").val(response.data.memberadmin);
                $("#Update_AadharNumber").val(response.data.adhaarNumber);
                $("#Update_CompanyType").val(response.data.companyType);
                $("#Update_Pan-CardNumber").val(response.data.panNumber);
                $("#Update_CompanyAddress").val(response.data.companyAddress);
                if(response.data.period != ""){
                    $("#Update_Plan_Period option[value="+response.data.period+"]").prop("selected",true)
                
                }
                $("#Update_Payment").val(response.data.payment);
                $('#Update_companyid').val(response.data.id);  
                $('#preview_Update_companylogos').attr('src', response.data.companylogos);
                $('#preview_Update_gstcertificate').attr('src', response.data.gstcertificate);

            }
        })
    }
    function UpdateformValidation(){
         
        var regex = /[A-Za-z0-9_~\-!@#\$%\^&\*\(\)]+$/;
        var adharregexp=/(^[0-9]{4}[0-9]{4}[0-9]{4}$)|(^[0-9]{4}\s[0-9]{4}\s[0-9]{4}$)|(^[0-9]{4}-[0-9]{4}-[0-9]{4}$)/;
        var companyname = $('#Update_Company_Name').val().trim();   
        var memberadmin = $('#Update_CompanyAdminEmailId').val().trim();   
        var caddress = $('#Update_CompanyAddress').val().trim();   
        var companyType = $('#Update_CompanyType').val();   
        var gstNumber = $('#Update_GST-IN').val();  
        var panNumber = $('#Update_Pan-CardNumber').val().trim();  
        var aadhaar = $('#Update_AadharNumber').val();  
        var gstcertificate = $('#Update_gstcertificate')[0].files[0];
        var companylogos = $('#Update_companylogos')[0].files[0];
        var Plan_Period = $('#Update_Plan_Period').val();   
        var Update_Payment = $('#Update_Payment').val();  
        var Update_companyid = $('#Update_companyid').val();   
        var panregex = /^[A-Z]{5}[0-9]{4}[A-Z]{1}$/;
        if(Plan_Period==null){
            Plan_Period='';
        }
    
        if (IsValid(companyname)) {
        $('#Update_Company_Name').html('');
        $('#Update_Company_Name_e').show().delay(3000).slideUp();
        $('#Update_Company_Name_e').html('company name is required');
        $('#Update_Company_Name').focus();
        return false;
        }else if (!/^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$/.test(gstNumber)){
            $('#Update_GST-IN_e').show().delay(3000).slideUp();
            $('#Update_GST-IN_e').html('Valid Gst Number Required');
            $('#Update_GST-IN').focus();
            return false;


        }else if (gstNumber != ""){
            if (IsValid(gstNumber)){
            $('#Update_GST-IN').html('');
            $('#Update_GST-IN_e').show().delay(3000).slideUp();
            $('#Update_GST-IN_e').html('Gst Number field is required');
            $('#Update_GST-IN').focus();
            return false;
        }else if(gstNumber.length != 15){
            $('#Update_GST-IN').html('');
            $('#Update_GST-IN_e').show().delay(3000).slideUp();
            $('#Update_GST-IN_e').html('GST Number should be of 15 digits');
            $('#Update_GST-IN').focus();
            return false;
        }else if (!validateGstNumber(gstNumber)) {
            $('#Update_GST-IN').html('');
            $('#Update_GST-IN_e').show().delay(3000).slideUp();
            $('#Update_GST-IN_e').html('Invalid GST-IN');
            $('#Update_GST-IN').focus();
            return false;
        }else if (IsValid(memberadmin)) {
            $('#Update_CompanyAdminEmailId').html('');
            $('#Update_CompanyAdminEmailId_e').show().delay(3000).slideUp();
            $('#Update_CompanyAdminEmailId_e').html('email is required');
            $('#Update_CompanyAdminEmailId').focus();
            return false;
        }else if (!validateEmail(memberadmin)) {
            $('#Update_CompanyAdminEmailId').html('');
            $('#Update_CompanyAdminEmailId_e').show().delay(3000).slideUp();
            $('#Update_CompanyAdminEmailId_e').html('Please enter correct email');
            $('#Update_CompanyAdminEmailId').focus();
            return false;
        }else if (!adharregexp.test(aadhaar)) {
            $('#Update_AadharNumber').html('');
            $('#Update_AadharNumber_e').show().delay(3000).slideUp();
            $('#Update_AadharNumber_e').html('Please Enter Valid Aadhar Number');
            $('#Update_AadharNumber').focus();
            return false;
        }else if (IsValid(companyType)) {
            $('#Update_CompanyType_e').show().delay(3000).slideUp();
            $('#Update_CompanyType_e').html('Please select company type');
            $('#Update_CompanyType').focus();
            return false;
        }else if (IsValid(panNumber)) {
            $('#Update_Pan-CardNumber').html('');
            $('#Update_Pan-CardNumber_e').show().delay(3000).slideUp();
            $('#Update_Pan-CardNumber_e').html('Please provide Pancard number');
            $('#Update_Pan-CardNumber').focus();
            return false;
        }else if (!panregex.test(panNumber)) {
            $('#Update_Pan-CardNumber').html('');
            $('#Update_Pan-CardNumber_e').show().delay(3000).slideUp();
            $('#Update_Pan-CardNumber_e').html('Please provide valid Pancard number');
            $('#Update_Pan-CardNumber').focus();
            return false;
        }else if (IsValid(caddress)) {
            $('#Update_Pan-CardNumber_e').text(' ');
            $('#Update_CompanyAddress').html('');
            $('#Update_CompanyAddress_e').show().delay(3000).slideUp();
            $('#Update_CompanyAddress_e').html('Address field is required');
            $('#Update_CompanyAddress').focus();
            return false;
        }/*else if (IsValid(Plan_Period)) {
            $('#Update_Plan_Period_e').show().delay(3000).slideUp();
            $('#Update_Plan_Period_e').html('Please select plan Period');
            $('#Update_Plan_Period').focus();
            return false;
        }*/else{
            

            let fd = new FormData();
            fd.append('companyname',companyname)
            fd.append('memberadmin',memberadmin)
            fd.append('caddress',caddress)
            fd.append('companyType',companyType)
            fd.append('gstNumber',gstNumber)
            fd.append('panNumber',panNumber)
            fd.append('adhaarNumber',aadhaar)
            fd.append('gstcertificate',gstcertificate)
            fd.append('period',Plan_Period)
            fd.append('payment',Update_Payment)
            fd.append('id',Update_companyid)
            fd.append('csrfmiddlewaretoken', '{{csrf_token}}')
            fd.append('companylogos',companylogos)


            $.ajax({
                type: 'POST',
                url: frontendURL+'company/update/'+Update_companyid,
                headers: {"Authorization": "Token {{token}}"},
                data: fd,
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log("success update response",response)
                    window.location.reload();
                }
            })
            $('#snackbar').addClass('validationBox')
        }
        }else{
        $('#snackbar').addClass('validationBox')
        }
    } 






    function imagePreview(input){
        validateFile(input.id) 

        //Check if there is a file that has been selected
        if (input.files && input.files[0]) {
            var reader = new FileReader();
             
            reader.onload = function(e) {
                
              $('#preview_'+input.id).attr('src', e.target.result);
              $('#preview_'+input.id).css('display','block');
            }
            console.log("input.id",input.id)
            reader.readAsDataURL(input.files[0]); 
         }
    }
    function updategetamountbyperiod() {
    
        var period = $('#Update_Plan_Period').val();
        var html;
        $.ajax({
            type: "POST",
            
            url: frontendURL + "company/billingPeriodbyid",
            data: {
                'period': period,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (response) {         
                $("#Update_Payment").val(response.data.data.amount)
                
            }
        });
    }

    function validateFile(id) {
        
        var allowedExtension = ['jpeg', 'jpg', 'png', 'svg','gif','tiff','png','webp','bmp'];
        var fileExtension = document.getElementById(id).value.split('.').pop().toLowerCase();
        var isValidFile = false;

            for(var index in allowedExtension) {

                if(fileExtension === allowedExtension[index]) {
                    isValidFile = true; 
                    break;
                }
            }

            if(!isValidFile) {
                $('#'+id).val('');
                $('#'+id+'_e').show().delay(3000).slideUp();
                $('#'+id+'_e').html('Please add valid file <br> Allowed Extensions are : *.'+ allowedExtension.join(', *.'));
                $('#'+id).focus();
                $('#preview_'+id).css('display','none');

            }

            return isValidFile;
    }
</script>
{% endblock %}