{% extends "index.html" %} {% load static %}{% block headercontent %}
    L1 L2 Dashboard 
{% endblock %}{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />




<style>

  td {
    text-align: left;
  }
  .tooltip-inner {
    max-width: 100% !important;
  }
  .uppercard {
    background-color: white;
    border: 1px solid #f8f1f1;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 3px 4px #00000029;
  }
  .select2-container--default .select2-selection--single {
    border-bottom: 1px solid #acacac !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
  .hoverdiv {
    width: 600px;
    justify-content: space-between;
  }
  .tasktitlehover {
    width: 250px;
  }
  .tooltip-inner {
    background-color: white;
    color: black;
    box-shadow: 2px 4px #888888;
    z-index: 111;
  }

  .heading {
    color: var(--unnamed-color-888888);
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    color: #888888;
  }



  .dataTables_filter input[type="search"] {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0px !important;
    margin: 0 2px 0 2px !important;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: inherit !important;
    border: 1px solid transparent;
    border-radius: 2px;
    background: transparent;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button .active:hover {
    background-color: #b9f7ff !important;
    outline-color: #b9f7ff !important;
    border-color: #b9f7ff !important;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current,
  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {


    box-sizing: border-box !important;
    display: inline-block !important;
    min-width: 30px !important;
    max-height: 30px !important;
    padding: 2px 7px 7px 5px !important;
    margin: 0 0 0 2px !important;
    text-align: center !important;
    text-decoration: none !important;
    cursor: pointer !important;
    color: black !important;
    border: 1px solid rgb(236, 236, 236) !important;
    border-radius: 6px !important;
    background: white !important;
  }

  .submitBtn {
    width: 150px !important;
    height: 38px;
    }



    #myTable > tbody > tr > td {
    text-transform: capitalize;
    font-weight: 400;
    padding: 12px !important;
    font-size: 13px;

    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  /* #pagination-demo2 {
    display: flex;
    justify-content: end;
  } */
  #myTable > thead > tr > th {
    text-transform: capitalize;
    font-weight: 500;
    background-color: white !important;
    font-size: 15px;
    padding: 10px;
   
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

















  .activeicons{
    width:24px;
    height:26px;
  }
   .select2-container--default .select2-selection--single {
    border-bottom: 1px solid #acacac !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background-color: transparent;
    border:0;
}
.pagehead{
    font-size: 20px;
    font-weight: 500;
    padding-top: 15px;
    padding-left: 10px;
}
.chartlabels{
  font-size:12px;
}
.chartlabels p{
  margin-bottom:10px;
}
.chartdivclass {
      width: 100%;
      height: 170px;
    }
.detailsdiv{
  color:#00aeef;
  font-size:14px;
}
.profile-pic{
  width:100%;
  border-radius: 50%;
}
.imagediv{
  width:45px;
  height:45px;
}
.card {
    border: none !important;
}
.accordion-button{
  padding:15px 10px 15px 7px !important;
  background-color: #e8e8e8 !important;
}
.accordion-item{
  margin-bottom:10px !important;
}
.weeklabel {
    margin-left: auto;
    background-color: #3DAB45;
    color: white;
    padding:6px 6px 6px 12px;
    height: 30px;
    margin-top: 6px;
    border: none;
    border-radius: 20px 0px 0px 20px;
    font-size: 13px;
}
.empname{
font-size:15px;
font-weight:500;
}

.empid{
  font-size:12px;
font-weight:500;
color:rgb(149, 149, 149);
}
.employeedetails{
  margin-top:2px;
}
.card-header{
  padding:7px 0px 7px 15px;
  background-color: #fff;
}
.mdcontent{
  height:500px;
}
.myTable>tbody>tr>td{
    text-transform: capitalize;
    font-weight: 400;
    padding: 4px !important;
    font-size:13px;   
    border-bottom: 1px solid #00000063; 

}
.myTable>thead>tr>th{
    text-transform: capitalize;
    font-weight: 500;
    background-color: white !important;
    font-size:14px;    
    color:black !important;
    border-bottom: 1px solid black !important;
}
.accordion-body {
    padding: 2px 10px;
}
.greenmarks{
  color:#3DAB45;
}
.redmarks{
  color:red;
}
.Graysquare{
  color: #D3D3D3;
}
.Bluesquare{
  color: #00aeef;
}
.fa-square{
  font-size: 15px;
    margin-right: 6px;
}
.fa-clock-o{
  font-size: 15px;
}
.mainchartdiv{
  margin-top:28px;
}
.card-body{
  padding:2px 10px;
}
.datetootip {
  position: relative;
  display: inline-block;
  color:black;
  cursor:pointer;
  font-size:12px;
  padding-left:10px;
}
.datetootip .tooltiptext {
  visibility: hidden;
  width: 145px;
  background-color: #fff;
  color: #056b90;
  text-align: center;
  border:1px solid #fff;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 10px;
  /* height:30px; */

  /* Position the datetootip */
  position: absolute;
  z-index: 1;
  top: 95%;
  left: -12%;
  box-shadow: 2px 3px 4px #00000029;
}
.datetootip:hover{
  font-size:12px;
 
}
.tooltiptext a{
  text-decoration: none;
}
.datetootip:hover .tooltiptext {
  visibility: visible;
}
.amount{
    display: flex;
    justify-content: flex-end;

}
.hrsdetails{
  color:black;
  font-weight:500;
}
.fa-arrow-down{
  margin-right:2px;
}
.fa-arrow-up{
  margin-right:2px;
}
#addEmployeeForm {
   padding: 0px 24px;

}







.switch-content {
  --size: 40px;
  --inset: 4px;
  --switch-width: calc(var(--size));
  --switch-height: calc(var(--size) / 2);
  --slider-size: calc(var(--size) / 2 - var(--inset));
  --switch-color-active: #18cf18;
  display: block;
  width: var(--switch-width);
  height: var(--switch-height);
  position: relative;
  cursor: pointer;
}
.switch-content input[type="checkbox"] {
  appearance: none;
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
.switch-content .switch {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 999rem;
  background: #ddd;
  transition: all 0.2s ease-in-out;
}
.switch-content .slider {
  position: absolute;
  top: calc(50% + var(--inset));
  left: var(--inset);
  transform: translate(0, calc(-50% - var(--inset)));
  width: var(--slider-size);
  height: var(--slider-size);
  background: white;
  border-radius: 999rem;
  box-shadow: 2px 0px 9px 10px #00000008, 1px 1px 3px 0px #00000024;
  transition: all 0.2s ease-in-out;
}
.switch-content input[type="checkbox"]:checked + .switch {
  background: var(--switch-color-active);
}
.switch-content input[type="checkbox"]:checked + .switch .slider {
  left: calc(100% - var(--inset));
  transform: translate(-100%, calc(-50% - var(--inset)));
}
label{
  color: #b66dff;
}
</style>

<!-- Main page -> Manage Task -->
<main class="main-wrapper">
  <!-- ==================Row1======================= -->
    <div id="" class="table-div" style="min-height: 80vh;">
        <div class="row">
            <!-- <div class="col-md-3 my-auto">



                <div class="switch-content" data-bs-toggle="tooltip" title="click to get only ongoing tasks">
                    <input type="checkbox" id="checkbox" />
                    <label class="switch" for="checkbox">
                      <span class="slider"></span>
                    </label>
                </div>


            </div> -->
            
          <div class="col-md-3 my-2">
            <div class="py-2">
                <label for="employeeId">Employee </label>
                
                <select class="js-example-basic-single" id='employeeId' name="employeeId" onchange="return search_tasks();" >

                </select>
                
                <span id="employeeId_err" class="error"></span>
            </div>

          </div>

          <div class="col-md-3 my-2">
            <div class="py-2">
                <label for="task_status">Task Status </label>
                
                <select class="js-example-basic-single" id='task_status' name="task_status" onchange="return search_tasks();" >
                  <option value="true">Ongoing</option>
                  <option value="false" >Completed</option>
                  <option value="All" selected>All</option>
                </select>
                
                <span id="task_status_err" class="error"></span>
            </div>

          </div>



          <div class="col-md-4 my-2">
            <div class="py-2">
              <label for="daterange">Date </label>

                <span style="display:flex;">
                    <span id="daterange" style="background: #fff; cursor: pointer; padding: 13px 10px; border-bottom: 1px solid #a8a8a8; width: 100%">
                        <i class="fa fa-calendar"></i>&nbsp;
                    <span id="spandatechange"></span> <i class="fa fa-caret-down"></i>
                    </span>
                </span>
                <span id="date_err" class="error"></span>
            </div>

          </div>



          
        </div>




    <div class="accordion pt-2" id="accordionExample">






    </div>




  </div>
</main>
{%endblock%}{%block script%}{{block.super}}

<script src="https://rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>\
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>
    let datename


$(document).ready(function () {


    get_employees()

    
    $(".input-feild").on("focus", function () {
      var label = $("label[for=" + this.id + "]");
      label
        .delay("slow")
        .animate(
          { "font-size": "14px", "font-weight": "400", padding: "1px" },
          "slow"
        );
    });

















    jQuery(function ($) {

        var start = moment().subtract(0, 'days')
        var end = moment()
    
        function cb(start, end) {
        $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
        }
    
        $('#daterange').daterangepicker(
        {
            startDate: start,
            endDate: end,
            ranges: {
            Today: [moment(), moment()],
            Yesterday: [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        },
        cb
        )
    
        cb(start, end)

        // Use jQuery UI Datepicker for DOB input
        $('#spandatechange').on('DOMSubtreeModified', function () {
            console.log('DOMSubtreeModified')
            search_tasks()
        })
    })


    document.addEventListener("DOMContentLoaded", function() {
        var months = [
            "Jan", "Feb", "Mar", "Apr", "May", "Jun",
            "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
        ];
        
        var currentDate = new Date();
        var day = currentDate.getDate();
        var monthIndex = currentDate.getMonth();
        var year = currentDate.getFullYear();
        
        var datename = (day < 10 ? '0' : '') + day + ' ' + months[monthIndex] + ' ' + year;
        
        // console.log(datename); // Output


        var table = $('#latemarktable').DataTable({
            "ordering": true,
              "bLengthChange": true ,
        }) 

        var buttons = new $.fn.dataTable.Buttons(table, {
        buttons: [{
            extend : 'excel',
            title: 'Late Attendance report ' + datename ,
            text : '<span class="btn-shadow  btn add-btn exportButton" >Export<i class="fa fa-download"></i></span> '        
        }]
        }).container().appendTo($('#exportButton'));

        // console.log("datename--",datename)

    });

  });

    function GetMonthName(monthname) {
        var months = {
        January: 1,
        February: 2,
        March: 3,
        April: 4,
        May: 5,
        June: 6,
        July: 7,
        August: 8,
        September: 9,
        October: 10,
        November: 11,
        December: 12
        }
        var monthNumber = months[monthname]
    
        return monthNumber
    }





function search_tasks(){
    var ongoingtasks='';
    var task_status =$('#task_status').val()

    if (task_status=='true') {
        ongoingtasks=true
    } else if (task_status=='false') {
        ongoingtasks=false
    }

    var datevalue = $('#spandatechange').html()
    datename=datevalue

    


    var userid=$('#employeeId').val();
    var employeeId = $('#employeeId option:selected').text();



    if (IsValid(userid)) {

        $('#employeeId_err').show().delay(3000).slideUp();
        $('#employeeId_err').html('Employeee  is required');
        $('#employeeId').focus();
        return false;
    } 


  
    if (datevalue == '' && datevalue == null) {

        $('#date_err').show().delay(3000).slideUp();
        $('#date_err').html('Please select date');
        $('#date_err').focus();
        return false;

    }


    
    var start_datestr = datevalue.split(' - ')[0]
    var end_datestr = datevalue.split(' - ')[1]

    var smonthstr = start_datestr.split(' ')[0]
    var smonth = GetMonthName(smonthstr)

    var emonthstr = end_datestr.split(' ')[0]
    var emonth = GetMonthName(emonthstr)

    var sdate = start_datestr.split(' ')[1].split(',')[0]
    var edate = end_datestr.split(' ')[1].split(',')[0]

    var syear = start_datestr.split(',')[1].split(' ')[1]
    var eyear = end_datestr.split(',')[1].split(' ')[1]

    var start_date = syear + '-' + smonth + '-' + sdate
    var end_date = eyear + '-' + emonth + '-' + edate
    // console.log("start_date",$.type(start_date),start_date)




    var Employee = userid

    $.ajax({
        type: 'post',
        url: frontendURL + 'task/search_tasks',
        data: {
            'Employee':Employee,
            'start_date':start_date,
            'end_date':end_date,
            'ongoingtasks':ongoingtasks,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        dataType: 'json',
        beforeSend: function() {
        $('.taskcontent').html(
            '<i class="fa fa-spin fa-spinner"></i> Please Wait...'
        );
        },
        success: function(response) {
         console.log("jhcjh",response)   
        var taskdetail ="" ; 

        $.each(response.data, function(i,o){
        
        taskdetail += `
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading`+o.Project+``+o.AssignTo+``+o.Week+`">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#modal`+o.Project+``+o.AssignTo+``+o.Week+`" aria-expanded="false" aria-controls="modal`+o.Project+``+o.AssignTo+``+o.Week+`">
                    <span class="col-md-6"> `+o.CreatedBy+`</span> 
                    <span class="col-md-5 amount">`+o.projecthourstring+`</span>
                </button>
                </h2>
                <div id="modal`+o.Project+``+o.AssignTo+``+o.Week+`" class="accordion-collapse collapse" aria-labelledby="heading`+o.Project+``+o.AssignTo+``+o.Week+`" data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <table class="table myTable table-hover">
                    <thead>
                        <th style="width:5%">Sr No</th>
                        <th style="width:15%">Task Date</th>
                        <th style="width:35%">Task Detail</th>
                        <th style="width:15%">Assign By</th>
                        <th style="width:10%">Grade</th>
                        <th style="width:10%">Status</th>
                        <th style="width:10%">Task Hours</th>
                    </thead>

                    <tbody>
                        ${o.userprojecttaskdata.map(l => `
                        <tr>
                            <td>${l.count}</td>
                            <td>${l.AssignDate}</td>
                            <td ><div class="px-2">${l.TaskTitle}</div></td>
                            <td>${l.AssignByStr}</td>
                            <td>${l.grade}</td>
                            <td>${l.Status}</td>

                            <td class="ps-2"><p class="datetootip">` + l.taskhours + ` <span class="tooltiptext">
                                    ${l.daywisetime.map(k => `
                                        <span> ${k.date} : ${k.time}</span>
                                    `).join("\n")}
                                    </span></p> </td>
                        </tr>
                        ` ).join("\n")}
                    </tbody>
                    </table>
                </div>
                </div>
            </div>
        
            `
            
        })
    
        $('#accordionExample').html(taskdetail);
        }
    })
    
}





function get_employees(){
    var options ="";
     
    $.ajax({
      url: frontendURL +"getuserlist",
      type: 'GET',
      data:{
        csrfmiddlewaretoken:'{{ csrf_token }}',
      },
      dataType: 'json',

      success: function(response){

        console.log("response.caluserslis",response.data)
        
       
        


        $.each(response.data,function(i,o){
          options += `<option value="`+o.id+`">`+o.Firstname +` `+o.Lastname+`</option>`          
        })
        
        options += `<option value="All" selected >All</option>`

        

        $("#employeeId").html(options);
        search_tasks()

      }
    });

  }
</script>
{%endblock%}
