{% extends "index.html" %}
{% load static %} 
{% block headercontent %}
<div class="nav-item newheading">
Tasks
</div>
{% endblock %}
{% block content %}

<main class="main-wrapper">
  <!-- ==================Row1======================= -->
  <div class="leave-application-section">
    <div class="row">
      <div class="col-md-12">
        <div class="leave-tab-section">
          <div class="row m-3">
            <div class="col-md-12">
              {%for u in users%}
              {%if assignedBy == u.id %}
              <h4 class="fw-normal">Assigned By : {{u.Firstname}} {{u.Lastname}}</h4> 
              {%endif%}
              {%endfor%}
            </div>
            <div class="col-md-12">
              <table id="dataTable" class="table tab-table">
                <thead>
                  <tr>
                    <th>Sr No</th>
                    <th>Employee Name</th>
                    <th>Task Count</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in employeeTaskCount %}
                  <tr class="tab-row">
                    <td>{{forloop.counter}}</td>
                    {%for u in users %}
                    {%if i.employee == u.id %}  
                    <td>{{u.Firstname}} {{u.Lastname}}</td>
                    {%endif%}
                    {%endfor%}
                    <td>{{i.employeeCount}}</td>
                    <td>
                      <a href="/task/report/{{i.employee}}/{{assignedBy}}" class="edit-icon-button">
                        <i class="fa fa-eye"></i>
                      </a>
                    </td>
                    {%endfor%}
                  </tr>

                
                </tbody>
              </table>
            </div>
            <div class="col-md-12">
              <div class="text-center">
                <a href="/task/coordinator" class="form-btn">Back</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
{% block script %}
{{block.super}}
<script src="{% static 'js/datatable/datatable.js'%}"></script>
{% endblock %}