{% extends "index.html" %}
{% load static %}
{% block headercontent %}
Assign Tasks
{% endblock %}
{% block content %}


<style>


  .taskcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .fa-spinner {
    font-size: 90px;
    color: #b66dff;
  }

  .statusresult {
    border: 1px solid #f8f1f1;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 3px 4px #00000029;
  }

  .savebutton {
    font-size: 10px !important;
  }

  .swal-modal {
    width: 400px;
  }

  .swal-button {
    display: flex;
    width: 75px;
    height: 32px;
    align-items: center;
    justify-content: center;
  }

  .editid {
    display: none;
  }

  .swal-footer {
    margin-top: 0px;
  }

  .fa-times {
    color: red;
    font-size: 18px;
  }

  .ellipsisColorStyle {
    color: #b66dff;
  }

  .fa-ban {
    color: black;
    font-size: 18px;
  }

  .eddropdwn {
    margin-right: 10px !important;

  }

  .emptext {
    font-size: 13px;
  }

  .dropdown-toggle {
    cursor: pointer;
  }

  .dropdwn {
    cursor: pointer;
    min-width: 10px !important;
    right: 0 !important;
    left: initial !important;
  }

  .dropdwn.show {
    display: flex;
    transform: translate(0px, 23px) !important;
  }

  .thours {
    font-size: 14px;
  }

  .hrszone {
    display: flex;
    justify-content: space-between;
  }

  .greenzone {
    color: rgb(10, 180, 10);
    margin-right: 5px;
  }

  .yellowzone {
    color: rgb(255, 196, 0);
    margin-right: 5px;
  }

  .redzone {
    color: rgb(224, 7, 7);
    margin-right: 5px;
  }

  .notdonezone {
    color: grey;
    margin-right: 5px;
  }

  .task_icons {
    cursor: none;
    opacity: 0.4;
    pointer-events: none;
  }

  .roundbtn {
    padding: 7px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px 3px 3px 3px;
    width: 8px;
    height: 10px;
  }

  .cancelbtn {
    padding: 0px !important;
    margin: 1px 3px 3px 3px;
  }

  .rejectbtn {
    padding: 0px !important;
    margin: 1px 3px 3px 3px;
  }

  .Greenbtn:hover {
    background-color: rgb(10, 180, 10);
  }

  .Greenbtn {
    background-color: rgb(10, 180, 10);
  }

  .redbtn {
    background-color: rgb(224, 7, 7);
  }

  .redbtn:hover {
    background-color: rgb(224, 7, 7);
  }

  .yellowbtn {
    background-color: rgb(255, 196, 0);
  }

  .yellowbtn:hover {
    background-color: rgb(255, 196, 0);
  }

  .notdonebtn {
    background-color: grey;
  }

  .notdonebtn:hover {
    background-color: grey;
  }

  .zonebtns {
    display: flex;
  }

  .form-check-input[type=checkbox] {
    border-radius: 0.25em;
    border: 2px solid #b66dff;
  }

  .rejecttext {
    color: rgba(255, 0, 0, 0.61);
    font-weight: 500;
  }

  .bonusdiv img {
    width: 100%;
    height: 22px;
    cursor: pointer;
  }

  .cardheader {
    border-bottom: 1px solid #0000001F;
    padding: 14px 10px 8px 10px;
  }

  .cardfoot {
    border-top: 1px solid #0000001F;
    padding: 5px;

  }

  .mainbox {
    padding: 6px 0px 10px 15px;
  }

  .cardmainheading {
    font-size: 13px;
    color: #acacac;
  }

  .activeicons {
    width: 100%;
    height: 22px;
    cursor: pointer;
  }

  .nonactive {
    width: 100%;
    height: 17px;
    cursor: pointer;
  }

  .description {
    color: #282828;
    text-align: left;
    font-size: 13px;
  }

  .taskinfo2 {
    font-size: 16px;
    text-align: left;
    font-weight: 500;
  }

  .taskinfo1 {
    font-size: 14px;
    text-align: left;
  }

  .taskdate {
    font-size: 13px;
    color: #979494;
  }

  .status-btn {
    color: #fff;
    border: none;
    padding: 7px 7px 7px 15px;
    border-radius: 15px 0px 0px 15px;
    font-size: 12px;
  }

  .greenstatus-btn {
    background-color: #3DAB45;

  }

  .yellowstatus-btn {
    background-color: #F2B700;
  }

  .redstatus-btn {
    background-color: red;
    padding: 7px 20px 7px 15px;
  }

  .notdonestatus-btn {
    background-color: grey;
  }

  .cancelledstatus-btn {
    background-color: rgb(106 104 106);
  }

  .rejectedstatus-btn {
    background-color: rgb(190 2 2);
  }

  .uppercard {
    background-color: white;
    border: 1px solid #f8f1f1;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 3px 4px #00000029;

  }

  .trackpropercent {
    font-size: 12px;
    color: #7c7b7b;
  }

  .pointscard {
    background-color: white;
    border: 1px solid #f8f1f1;
    border-radius: 10px;
    box-shadow: 2px 3px 4px #00000029;
    padding: 5px;
    display: flex;
    align-items: center;
  }

  .cardtext {
    font-size: 12px;
  }

  .pointscard img {
    height: 48px;
  }

  .head1 {
    letter-spacing: 0px;
    color: #282828;
    opacity: 1;
    font-size: 14px;
    font-weight: 500;
  }

  .bor_end {
    border-right: 1px solid #acacac;
  }

  .togglebtn {
    border: none;
    cursor: pointer;
    background: white;
  }

  .points {
    color: #b66dff;
    font-size: 19px;
    font-weight: 500;
    margin-left: 20px;
  }

  .greenpoints {
    color: green;
    font-weight: 500;
    font-size: 18px;
  }

  .yellowpoints {
    color: #F2B700;
    font-weight: 500;
    font-size: 18px;
  }

  .redpoints {
    color: #F24B59;
    font-weight: 500;
    font-size: 18px;
  }

  .notdonepoints {
    color: #ABABAB;
    font-weight: 500;
    font-size: 18px;
  }

  .helppoints {
    color: #b66dff;
    font-weight: 500;
    font-size: 18px;
  }

  .bonuspoints {
    color: #EC9922;
    font-weight: 500;
    font-size: 18px;
  }

  .cancelledpoints {
    color: black;
    font-weight: 500;
    font-size: 18px;
  }

  .rejectedpoints {
    color: #F24B59;
    font-weight: 500;
    font-size: 18px;
  }

  .card {
    border: none !important;
  }

  .statustext {
    font-size: 10px;
    color: #acacac;
    margin-bottom: 2px !important;
    margin-top: 3px;
  }

  .fa-ellipsis-h {
    color: #00000078;
  }

  .taskcontainer {
    width: 16%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    bottom: 20%;
    right: 0%;
  }

  #toggle {
    -webkit-appearance: none;
  }

  .button {
    position: absolute;
    z-index: 999;
    width: 200px;
    height: 50px;
    background: #228B22;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 15px;
    overflow: hidden;
    transition: width 300ms linear;
  }

  .button:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #fff;
    transform: rotate(225deg);
    transition: all 0.4s ease;
  }

  .button:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #fff;
    transform: rotate(135deg);
    transition: all 0.4s ease;
  }



  .nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }



  .nav li:nth-child(1) {
    animation: itop 300ms 300ms linear forwards;
  }

  .creditpoints {
    color: green;
    font-weight: 500;
  }

  .textpadding {
    padding: 5px;
  }



  .nav a:hover {
    border-radius: 15px;
  }

  #toggle:checked~label .nav {
    display: none;
    opacity: 0;

    transform: translateX(150px);
  }

  #toggle:checked~.button:before {
    transform: rotate(90deg);
  }

  #toggle:checked~.button:after {
    transform: rotate(0deg);
  }

  #toggle:checked~.button {
    width: 50px;
    transition: all 0.1s linear;
    position: absolute;
    left: 132px;
  }

  @media (max-width: 640px) {}

  @keyframes itop {
    0% {
      opacity: 0;
      transform: translateY(60px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /*--------read more /less css -----*/
  .addReadMore.showlesscontent .SecSec,
  .addReadMore.showlesscontent .readLess {
    display: none;
  }

  .addReadMore.showmorecontent .readMore {
    display: none;
  }

  .addReadMore .readMore,
  .addReadMore .readLess {
    margin-left: 2px;
    color: #b66dff;
    cursor: pointer;
  }

  .addReadMoreWrapTxt.showmorecontent .SecSec,
  .addReadMoreWrapTxt.showmorecontent .readLess {
    display: block;
  }
</style>

<main class="main-wrapper">
  {% if messages %}
  <div class="row" style="justify-content: center;">
    <div class="col-sm-6 col-sm-offset-3">
      {% for message in messages %}
      <div
        style="display: flex; margin: 15px 0px;flex-direction: row-reverse;justify-content: center;align-items: center;"
        class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
          style="background: transparent; border: none; font-size: 25px; color: #ff0000;">
          <span aria-hidden="true">&times;</span>
        </button>
        <p style="margin-bottom: 0px;">{{ message }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <div id="snackbar"></div>

  <!---row 1-->


  <!----dropdown row---->
  <div class="uppercard">

    <div class="row">
      <div class="col-md-11">
        <div class="row justify-content-around mb-3 collapse" id="filtersRow">
          <div class="col-md-2">
            <!-- <label for="Year">Year:</label><br> -->
            <select id='Year' name="Year" class="js-example-basic-single yearselect" onchange="getOnChangeWeek();">
              {% for y in year %}
              {%if currYear == y.Year%}
              <option value="{{y.Year}}" selected>{{y.Year}}</option>
              {%else%}
              <option value="{{y.Year}}">{{y.Year}}</option>
              {%endif%}
              {% endfor %}
            </select>
          </div>

          <div class="col-md-2">
            <!-- <label for="Week">Week:</label><br> -->
            <select class="form-control js-example-basic-single" type="text" id="Week" name="Week"
              onchange="usercurrentweekdata();">
              <option value="All">All Weeks</option>
            </select>
          </div>

          <div class="col-md-3">
            <!-- <label for="Employee">Employee:</label><br> -->
            <select id='Employee' name="Employee" class="js-example-basic-single" onchange="usercurrentweekdata();">
              <option value='All' selected> All Employees</option>
              {% for i in emplist %}
              <option value="{{i.UserID}}">{{i.UserIDStr}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-2">
            <!-- <label for="Task">Task Status:</label><br> -->
            <select id='TaskStatus' name="TaskStatus" class="js-example-basic-single" onchange="usercurrentweekdata();">
              <option value="All" selected>All Statuses</option>
              <option value="InProcess">InProcess</option>
              <option value="Completed">Completed</option>
            </select>
          </div>

          <div class="col-md-2">
            <!-- <label for="Review">Review:</label><br> -->
            <select id='Review' name="Review" class="js-example-basic-single" onchange="usercurrentweekdata();">
              <option value="All">All Review</option>
              <option value="Checked">Checked</option>
              <option value="Unchecked" selected>Unchecked</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-around p-2 trackpropercent">
          <div class="col-md-2 d-flex align-items-center">
            <div class="head1">Total Trackpro & Percentage</div>
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-4 bor_end">
                <div><img src="/static/Media/taskicons/trackpropercent.svg" alt="Paris" onclick=""><span
                    class="ms-1">Overall Average Trackpro Percent :</span><span class="points"
                    id="trackpropercent">0</span><span style="color:#b66dff;">%</span></div>
              </div>
              <div class="col-md-4 bor_end">
                <div><img src="/static/Media/taskicons/weektask.svg" alt="Paris" onclick=""><span class="ms-1">Total
                    Tasks added this week :</span><span class="points" id="weektask">0</span></div>
              </div>
              <div class="col-md-4">
                <div><img src="/static/Media/taskicons/totaltasks.svg" alt="Paris" onclick=""><span class="ms-1">Total
                    Tasks :</span><span class="points" id="totaltask">0</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 mt-1">
        <button class="togglebtn" id="filterBtn" type="button" data-bs-toggle="collapse" data-bs-target="#filtersRow"
          aria-expanded="false" aria-controls="filtersRow"><img src="/static/Media/taskicons/toggle.svg" alt="Paris"
            onclick=""></button>
      </div>
    </div>

    <div class="row my-3">
      <div class="d-flex justify-content-around">
        <div class="row pointscard">
          <div class="col-md-4">
            <img class="rotate-image-360" src="/static/Media/taskicons/activegreen.svg" alt="Paris" onclick="">
          </div>
          <div class="col-md-8 text-center textpadding">
            <div class="cardtext">Green</div>
            <div class="greenpoints">0</div>
          </div>
        </div>
        <div class="row pointscard">
          <div class="col-md-4">
            <img class="rotate-image-540" src="/static/Media/taskicons/yellowsvg.svg" alt="Paris" onclick="">
          </div>
          <div class="col-md-8 text-center textpadding">
            <div class="cardtext">Yellow</div>
            <div class="yellowpoints">0</div>
          </div>
        </div>
        <div class="row pointscard">
          <div class="col-md-4">
            <img class="rotate-image-360" src="/static/Media/taskicons/red_icon.svg" alt="Paris" onclick="">
          </div>
          <div class="col-md-8 text-center textpadding">
            <div class="cardtext">Red</div>
            <div class="redpoints">0</div>
          </div>
        </div>
        <div class="row pointscard">
          <div class="col-md-4">
            <img class="move-top-down" src="/static/Media/taskicons/notdone.svg" alt="Paris" onclick="">
          </div>
          <div class="col-md-8 text-center textpadding">
            <div class="cardtext">Not Done</div>
            <div class="notdonepoints">0</div>
          </div>
        </div>
        <div class="row pointscard d-none">
          <div class="col-md-4">
            <img class="move-top-down" src="/static/Media/taskicons/helpicon.svg" alt="Paris" onclick="">
          </div>
          <div class="col-md-8 text-center textpadding">
            <div class="cardtext">Help</div>
            <div class="helppoints">0</div>
          </div>
        </div>
        <div class="row pointscard">
          <div class="col-md-4">
            <img class="rotate-image-30" src="/static/Media/taskicons/activebonus.svg" alt="Paris" onclick="">
          </div>
          <div class="col-md-8 text-center textpadding">
            <div class="cardtext">Bonus</div>
            <div class="bonuspoints">0</div>
          </div>
        </div>
        <div class="row pointscard">
          <div class="col-md-4">
            <img class="rotate-image-70" src="/static/Media/taskicons/extracredit.svg" alt="Paris" onclick="">
          </div>
          <div class="col-md-8 text-center textpadding">
            <div class="cardtext">Credits</div>
            <div class="creditpoints">0</div>
          </div>
        </div>
        <div class="row pointscard">
          <div class="col-md-4">
            <img class="rotate-image-90" src="/static/Media/taskicons/upper-rejected.svg" alt="Paris" onclick="">
          </div>
          <div class="col-md-8 text-center textpadding">
            <div class="cardtext">Rejected</div>
            <div class="rejectedpoints">0</div>
          </div>
        </div>
        <div class="row pointscard">
          <div class="col-md-4">
            <img class="rotate-image-70" src="/static/Media/taskicons/activecancelled.svg" alt="Paris" onclick="">
          </div>
          <div class="col-md-8 text-center textpadding">
            <div class="cardtext">Cancel</div>
            <div class="cancelledpoints">0</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Row 2 -->
  <div class="container-fluid mt-1">
    <div class="row d-flex justify-content-between align-items-center h-100">
      <div class="col-md-12 taskcontent">
        <div class="row g-3 col-md-12" id="multipletask">

        </div>
      </div>
    </div>
  </div>




  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="mt-3 text-center">
          <span id="imgsection">
            <img src="/static/Media/TaskManager/task_alt_FILL0_wght400_GRAD0_opsz48 (1).svg" alt="Paris" width="50"
              height="50">
            <h5 class="modal-title" id="exampleModalToggleLabel2">Task Added Successfully</h5>
          </span>
        </div>
        <div class="modal-body p-0">
          <div class="container-fluid">
            <div class="row" id="addmodalsection">
              <div class="col-md-6">
                <div class="my-3">
                  <label for="task">Project Name</label>
                  <span id="projectname"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="my-3">
                  <label for="task">Assign By</label>
                  <span id="projectassignby"></span>
                </div>
              </div>
              <div class="col-md-12">
                <label for="task">Task details</label>
                <span id="projecttaskdetail"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-gradient-info btn-rounded btn-fw" data-bs-dismiss="modal"
            onclick="removebackdrop();"><span id="modalclosesection">Done</span></button>
        </div>
      </div>
    </div>
  </div>

  <!----edit modal-->
  <div class="modal" id="edittaskModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">Edit Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <div class="editid" id="edittaskid"></div>
                  <label for="Project">Project Name</label>
                  <select class="form-control js-example-basic-single" id="editProject" name="Project">
                    <option value="">Select Project</option>
                    {% for p in project reversed %}
                    {% if p.Active == True %}
                    <option value="{{p.id}}">{{p.ProjectName}}</option>
                    {% endif %}
                    {% endfor %}

                  </select>
                  <span id="projectrequired"></span>
                </div>

              </div>
              <div class="col-md-6">
                <label for="task">Assign By</label>
                <select class="form-control js-example-basic-single" id="editAssignBy" name="AssignBy">
                  <option value="">Select Manager</option>
                  <option value="{{userID}}" selected>{{Firstname}} {{Lastname}}</option>
                </select>
                <span id="assignByrequired"></span>
              </div>
              <div class="col-md-6">
                <label for="AssignDate">Date</label>
                <input type="text" id="editAssignDate" placeholder="Select Date" name="DateofJoining" autocomplete="off"
                  disabled>
                <span id="daterequired"></span>
                <div id="calendarIcon"></div>
              </div>
              <div class="col-md-12">
                <label for="TaskTitle">Task details</label>
                <textarea name="TaskTitle" id="editTaskTitle" cols="10" rows="3" style="width: 100%;"></textarea>
                <span id="tasknamerequired"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <span class="btn btn-gradient-info btn-rounded btn-fw" onclick="updateTask();"
            data-bs-dismiss="modal">Add</span>
          <button type="button" class="btn btn-gradient-danger btn-rounded btn-fw"
            data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</main>



{% endblock %}
{% block script %}
{{block.super}}

<script>
  $(document).ready(function () {
    $("#AssignDate").datepicker({
      dateFormat: 'dd-mm-yy',
      minDate: -5,
      maxDate: 2,
    });
    usercurrentweekdata();
    getOnChangeWeek();
    getTodaydate();
    $(".js-example-basic-single").select2();
  })



  function getTodaydate() {
    var todayDate = new Date();
    date = todayDate.getDate();
    if (todayDate.getMonth == 12) {
      currentMonth = todayDate.getMonth();
    } else {
      currentMonth = todayDate.getMonth() + 1;
    }
    month = currentMonth.toString().padStart(2, '0');
    year = todayDate.getFullYear();
    currentDate = date + "-" + month + "-" + year
    $("#AssignDate").val(currentDate);
  }

  function getOnChangeWeek() {
    var year = $('#Year').val()
    console.log("loh", year)
    $.ajax({
      type: 'post',
      url: frontendURL + 'checktrackpro/getmanagerWeek',
      data: {
        'year': year,
        'csrfmiddlewaretoken': '{{csrf_token}}',
      },
      dataType: 'json',
      success: function (response) {
        $('#Week').empty()
        $('#Week').append(`<option value="All">All Weeks</option>`)
        $.each(response.weeklist, function (i, o) {
          $('#Week').append(`<option value="${o.Week}" >${o.Week} </option>`)
        });
        //populateTable();
        usercurrentweekdata();

      },
      error: function (error) {
        console.log('error; ' + JSON.stringify(error));
      }
    });
  }

  function removebackdrop() {
    $('.modal-backdrop').remove();
  }

  function usercurrentweekdata() {
    var year = $("#Year").val();
    var week = $("#Week").val();
    var user = $("#Employee").val();
    var TaskStatus = $("#TaskStatus").val();
    var Review = $("#Review").val();

    emplist = []
    weeklist = []

    if (user == "All") {
      $("#Employee").children().each(function () {
        emplist.push($(this).attr('value'))
      })
      var filteredArray = emplist.filter(function (e) { return e !== 'All' })
      user = filteredArray
    } else {
      var useremp = emplist.push($("#Employee").val());
      user = emplist
    }

    if (week == "All") {
      $("#Week").children().each(function () {
        weeklist.push($(this).attr('value'))
      })
      var filteredArrayweek = weeklist.filter(function (e) { return e !== 'All' })
      week = filteredArrayweek
    } else {
      var userweek = weeklist.push($("#Week").val());
      week = weeklist
    }


    $.ajax({
      type: 'post',
      url: frontendURL + 'task/empcurrentweektask',
      data: {
        'year': year,
        'week': JSON.stringify(week),
        'userId': JSON.stringify(user),
        'Task': TaskStatus,
        'Review': Review,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      dataType: 'json',
      /*
      beforeSend: function() {
        $('.taskcontent').html(
            `<div class="loader--ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
             Please Wait...`
        );
      },
      */
      success: function (response) {
        console.log("res sd", response)
        var taskdetail = "";
        $('#trackpropercent').text(response.trackpropercentavg)
        $('#weektask').text(response.weeektaskcount)
        $('#totaltask').text(response.totaltaskscount)
        $('.greenpoints').text(response.GreenZoneTask)
        $('.yellowpoints').text(response.YellowZoneTask)
        $('.redpoints').text(response.RedZoneTask)
        $('.notdonepoints').text(response.NotdoneZoneTask)
        $('.bonuspoints').text(response.bonus)
        $('.cancelledpoints').text(response.cancelledZoneTask)
        $('.rejectedpoints').text(response.rejectedZoneTask)
        $('.creditpoints').text(response.extracredits)

        $.each(response.serdata, function (i, o) {
          var taskbonus = o.Bonus
          var taskid = o.id
          taskdetail += `
        <div class="col-md-4">
            <div class="card  h-100 d-flex flex-column ">
            <div class="cardheader">
            <div class="d-flex justify-content-between">
              <p class="m-0 taskdate">Task added on: `+ o.AssignDate + `</p>
              <div class="d-flex">
              <div class="bonusdiv me-3">`+ o.Bonus + `</div>
              <span class="d-none" id = "bonushidden`+ o.id + `">` + o.bonushiddenstr + `</span>
              <div class="dropdown eddropdwn">
              <a class="dropdown-toggle" id="dropdownMenuButton`+ o.id + `" data-bs-toggle="dropdown" aria-expanded="false" >
                <i class="fa fa-ellipsis-h fa-rotate-90" aria-hidden="true"></i></a>
                   
              <ul class="dropdown-menu dropdwn" aria-labelledby="dropdownMenuButton`+ o.id + `">
                <li><a class="dropdown-item" title="Edit" href ="" data-bs-toggle="modal" data-bs-target="#edittaskModal" onclick="gettaskinfo(`+ o.id + `)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>
                </li>
                <li><a class="dropdown-item"  title="Delete" href="" data-bs-toggle="modal" data-bs-target="#deletetaskModal`+ o.id + `"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </li>
                </ul>

                
                <div class="modal fade" id="deletetaskModal`+ o.id + `" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body text-center">
                      Are you sure you want to delete?
                      </div>
                      <div class="modal-footer">
                        <a href="javascript:void(0)" onclick="deletetaskf(`+ o.id + `);" data-bs-dismiss="modal" class="btn btn-danger">Yes</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                      </div>
                    </div>
                  </div>
                </div>
         
          </div>
          </div>
            </div>
            </div>



            <div class="mainbox">
              <div class="row mt-2">
                <div class="col-md-6">
                    <div class=" cardmainheading">Assigned To:</div>
                    <div  class="taskinfo1">`+ o.empstr + `</div>
                </div>
                <div class="col-md-6">
                    <div  class=" cardmainheading">Assigned By:</div>
                    <div  class="taskinfo1">`+ o.AssignByStr + `</div>
                </div>
                </div>
                <div class="row mt-2">
                <div class="col-md-6">
                    <div  class=" cardmainheading">Project</div>
                    <div class="taskinfo2">`+ o.ProjectName + `</div>
                </div>
                <div class="col-md-6">
                    <div  class=" cardmainheading">Total Hours:</div>
                    <div class="taskinfo2">`+ o.taskhours + `</div>
                </div>
                </div>
                <div class="mt-2 d-flex justify-content-between align-items-center">
                <div style="width:70%;">
                    <div  class="cardmainheading">Description</div>
                    <div class="description addReadMore showlesscontent">`+ o.TaskTitle + `</div>
                </div>
                <div class="d-flex justify-content-end" style="width:30%;">
                  <span>`+ o.zonestr + `</span>
                </div>
              </div>
            </div>

            <div class="cardfoot mt-auto">
              <div class="d-flex justify-content-around bottomicons">

                <div>
                  <div class="text-center">`+ o.greenstatusstr + `</div>
                  <p class="statustext">Green</p>
                </div>
                <div>
                  <div class="text-center">`+ o.yellowstatusstr + `</div>
                  <p class="statustext">Yellow</p>
                </div>
                <div>
                  <div class="text-center">`+ o.redstatusstr + `</div>
                  <p class="statustext">Red</p>
                </div>
                <div>
                  <div class="text-center">`+ o.notdonestr + `</div>
                  <p class="statustext">Not Done</p>
                </div>
                <div class="d-none">
                  <div><img src="/static/Media/taskicons/help.svg"  class="nonactive" alt="Paris" onclick=""></div>
                  <p class="statustext">Help</p>
                </div>
                <div>
                  <div class="text-center">`+ o.rejectedstr + `</div>
                  <p class="statustext">Reject</p>
                </div>
                <div>
                  <div class="text-center">`+ o.cancelledstr + `</div>
                  <p class="statustext">Cancel</p>
                </div>

                </div>
              </div>
            </div>
          </div>

          `
        })
        var taskcontenthtml = `<div class="row g-3 col-md-12" id="multipletask">` + taskdetail + `</div>`
        $('.taskcontent').html(taskcontenthtml);
        AddReadMore();

      },
      error: function (error) {
        console.log('error; ' + JSON.stringify(error));
      }
    });
  }

  function taskbonus(taskid) {
    var id = taskid
    console.log("iddd", id)
    var bonushiddenstr = $("#bonushidden" + taskid).text();
    console.log("bonushiddenstr", bonushiddenstr)
    if (bonushiddenstr == "False") {
      var bonus = true
    } else {
      var bonus = false
    }

    console.log("bonus", bonus)
    var fd = new FormData();
    fd.append("taskid", id);
    fd.append("bonus", bonus)
    fd.append('csrfmiddlewaretoken', '{{csrf_token}}');

    swal({
      title: "Are you sure?",
      text: "you want to Assign the Bonus!",
      icon: "warning",
      buttons: true,
      dangerMode: true
    })
      .then((willDelete) => {
        if (willDelete) {
          $.ajax({
            type: "POST",
            url: frontendURL + "task/taskbonusbymanager",
            data: fd,
            processData: false,
            contentType: false,
            success: function (response) {
              if (response.n == 1) {
                usercurrentweekdata();
                swal({
                  icon: "success",
                  title: "",
                  text: "Bonus Updated Successfully.",
                  button: "Close",
                });
              }
              else {
                usercurrentweekdata();
                swal({
                  icon: "error",
                  title: "Bonus Not Added",
                  text: response.Msg,
                  button: "Close",
                });
              }

            }
          })
        } else { swal("Bonus is cancelled!", { icon: "error", }); }
      });
  }





  /*
  function Zonemarks(el,taskid){
     
    var zonestatus = el;
    console.log("zonestatus",zonestatus)
    var taskId = taskid;
    console.log("taskId",taskId)
    // var userid = $("#employeeid").text();
  
    var fd = new FormData();
        fd.append("zonestatus", zonestatus);
        fd.append("taskId", taskId);
        fd.append('csrfmiddlewaretoken', '{{csrf_token}}');
  
        swal({title: "Are you sure?",
              text: "you want to assign the zone!",
              icon: "warning",
              buttons: true,
              dangerMode: true
            }) 
              .then((willDelete) => {if (willDelete) {
        
        $.ajax({
            type: "POST",
            url: frontendURL + "task/Zonestatusbymanager",
            data: fd,
            processData: false,
            contentType: false,
            success: function (response) {
              console.log("response",response)
              if (response.n == 1){
                usercurrentweekdata();
                swal({
                  icon: "success",
                  title: "",
                  text: response.Msg,
                  button: "Close",
                  });  
              }
              else{
                swal({
                  icon: "Failed",
                  title: "",
                  text: "Could Not Assign marks!",
                  button: "Close",
                  }); 
              }
                
            }
        })
      } else { swal("Your Zone has not been Selected!", { icon: "error", }); } });
  }*/

  function Zonemarks(el, taskid) {

    var zonestatus = el;
    console.log("zonestatus", zonestatus)
    var taskId = taskid;
    console.log("taskId", taskId)
    // var userid = $("#employeeid").text();

    var fd = new FormData();
    fd.append("zonestatus", zonestatus);
    fd.append("taskId", taskId);
    fd.append('csrfmiddlewaretoken', '{{csrf_token}}');

    $.ajax({
      type: "POST",
      url: frontendURL + "task/Zonestatusbymanager",
      data: fd,
      processData: false,
      contentType: false,
      success: function (response) {
        console.log("response", response)
        if (response.n == 1) {
          usercurrentweekdata();
          /*swal({
            icon: "success",
            title: "",
            text: response.Msg,
            button: "Close",
            });  */
        }
        else {
          swal({
            icon: "Failed",
            title: "",
            text: "Could Not Assign marks!",
            button: "Close",
          });
        }

      }
    })

  }


  $('.roundbtn').click(function () {
    console.log("helloo")
    alert($(this).html());

  });


  function gettaskinfo(taskid) {
    var id = taskid;
    $.ajax({
      type: "GET",
      url: frontendURL + "task/getTaskInfo/" + id,
      processData: false,
      contentType: false,
      success: function (response) {
        console.log("res", response)
        $("#editProject").val(response.data.Project).trigger('change');
        // $("#editAssignBy").val(response.data.AssignBy).trigger('change');
        $("#editTaskTitle").text(response.data.TaskTitle);
        $("#editAssignDate").val(response.data.AssignDate).trigger('change');;
        $("#edittaskid").text(response.data.id);
      }
    })
  }

  function updateTask() {

    var edittaskid = $("#edittaskid").text();
    var editTaskTitle = $("#editTaskTitle").val();
    var editAssignBy = $("#editAssignBy").val();
    var editProject = $("#editProject").val();
    var editProjectName = $("#editProject :selected").text();


    if (IsValid(editProject)) {
      $("#editProject").html();
      $("#projectrequired").show().delay(3000).slideUp();
      $("#projectrequired").html("Project Name Is Required");
      $("#editProject").focus();
      return false;
    }
    if (IsValid(editAssignBy)) {
      $("#editAssignBy").html();
      $("#assignByrequired").show().delay(3000).slideUp();
      $("#assignByrequired").html("Assign By Name is required");
      $("#editAssignBy").focus();
      return false;
    }
    if (IsValid(editTaskTitle)) {
      $("#editTaskTitle").html();
      $("#tasknamerequired").show().delay(3000).slideUp();
      $("#tasknamerequired").html("Task Description is required");
      $("#editTaskTitle").focus();
      return false;
    }
    else {


      var fd = new FormData();
      fd.append("editTaskTitle", editTaskTitle);
      fd.append("editAssignBy", editAssignBy);
      fd.append("editProject", editProject);
      fd.append("editProjectName", editProjectName);
      fd.append('csrfmiddlewaretoken', '{{csrf_token}}');

      $.ajax({
        type: "POST",
        url: frontendURL + "task/updateTaskAjax/" + edittaskid,
        data: fd,
        processData: false,
        contentType: false,
        success: function (response) {
          console.log("response", response)
          if (response.n == 1) {
            usercurrentweekdata();
            swal({
              icon: "success",
              title: "",
              text: "Task Edited Successfully.",
              button: "Close",
            });
          }
          else {
            swal({
              icon: "Failed",
              title: "",
              text: "Could Not Edit Task!",
              button: "Close",
            });
          }

        }
      })
    }
  }

  function AddReadMore() {
    //This limit you can set after how much characters you want to show Read More.
    var carLmt = 75;
    // Text to show when text is collapsed
    var readMoreTxt = " ... Read More";
    // Text to show when text is expanded
    var readLessTxt = " Read Less";


    //Traverse all selectors with this class and manupulate HTML part to show Read More
    $(".addReadMore").each(function () {
      if ($(this).find(".firstSec").length)
        return;

      var allstr = $(this).text();
      if (allstr.length > carLmt) {
        var firstSet = allstr.substring(0, carLmt);
        var secdHalf = allstr.substring(carLmt, allstr.length);
        var strtoadd = firstSet + "<span class='SecSec'>" + secdHalf + "</span><span class='readMore'  title='Click to Show More'>" + readMoreTxt + "</span><span class='readLess' title='Click to Show Less'>" + readLessTxt + "</span>";
        $(this).html(strtoadd);
      }

    });
    //Read More and Read Less Click Event binding

  }

  $(document).on("click", ".readMore,.readLess", function () {
    $(this).closest(".addReadMore").toggleClass("showlesscontent showmorecontent");
  });

  function deletetaskf(id) {
    $.ajax({
      type: 'post',
      url: frontendURL + 'task/deleteTask/' + id,
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      processData: false,
      contentType: false,
      dataType: 'json',
      success: function (response) {
        console.log("resdel", response)
        if (response.n != 0) {
          usercurrentweekdata();
          swal({
            title: "",
            text: 'Task Deleted Successfully',
            icon: "success",
            button: "Close",
          })


        } else {
          swal({
            icon: "warning",
            title: "",
            text: "Cannot delete task as this task has already been checked",
            button: "Close",
          });
        }

      },
    });
  }
  function get_project_list() {
    //  

    $.ajax({
      type: 'post',
      url: frontendURL + 'task/get_project_list',
      data: {
        csrfmiddlewaretoken: '{{csrf_token}}',
      },
      success: function (response) {
        console.log("get_project_list", response)
        if (response.n == 1) {
          $('#editProject').empty()
          $.each(response.data, function (i, o) {
            $('#editProject').append(`<option value="${o.id}" >${o.ProjectName} </option>`)
          });
        }
        else {
          swal({
            icon: "warning",
            title: "",
            text: 'projectlist cannot be loaded',
            button: "Close",
          });
        }
      }
    });
  }
</script>



{% endblock %}