{% extends "index.html" %}
{% load static %} 
{% block headercontent %}
<h1>Manage Task</h1>
        <p class="d-none d-md-block">
            Employee Task record.
        </p>
{% endblock %}
{% block content %}

<main class="main-wrapper ">
  <!-- ==================Row1======================= -->
  <div class="task-report-box">
    <div class="row ">

      <div class="col-md-12 pt-3">
        <div class="row">
          <div class="col-md-3">
            <div class="task-report-selector">
              <label for="employee">Employee:</label>
              <select class="form-select select2dropdown" onchange="getlastYear();" aria-label="Default select example" id="CreatedBy">
                {% for u in uniquetasklist %}
              <option value="{{u.id}}" >{{u.Firstname}} {{u.Lastname}}</option>
              {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="task-report-selector">
              <label for="year">Year</label>
              <select class="form-select select2dropdown" onchange="getYearWisedata();" aria-label="Default select example" id="Year">
                <option>Select Year</option>   
                {% for y in combined.results.year %}
              <option value="{{y.Year}}">{{y.Year}}</option>
              {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="task-report-selector">
              <label for="week">Week</label>
              <select class="form-select select2dropdown" aria-label="Default select example" id="Week" onchange="getData();">
               
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="d-flex justify-content-end mt-4 mb-3">
             
              <button
              class="excel-file"
              onclick="$('#dataTable').DataTable().buttons(0).trigger()"
            >
              Export <i class="fa-solid fa-file-excel"></i>
            </button>
            </div>
          </div>

        </div>
        <!-- <div class="row">
            <div class="d-flex justify-content-end mt-4">
              <label for="search" class="me-2">Search:</label>
              <input type="text" id="search" name="search" class="search-box">
            </div>
          </div> -->
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <table id="dataTable" class="table">
              <thead>
                <tr>
                  <th>Task Date</th>
                  <th>Employee Name</th>
                  <th>Project Name</th>
                  <th>Assigned By</th>
                </tr>
              </thead>
              <tbody id="usertaskdata">

              
              
              </tbody>
            </table>
          </div>

        </div>


      </div>
    </div>
  </div>

  </div>

</main>
{% endblock %}
{% block script %}
{{block.super}}
<script src="{% static 'js/datatable/datatable.js'%}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>

<script>

  function initialiseDataTable(trHtml) {
    if ($.fn.DataTable.isDataTable('#dataTable')) {
        $('#dataTable').DataTable().destroy();
    }
    $('#dataTable tbody').empty();
    $('#usertaskdata').html(trHtml);
    var employeeName = $('#CreatedBy :selected').text()
    var currentDate = (new Date()).toISOString().split('T')[0];
    dateArray = currentDate.split('-')
    year = dateArray[0]
    month = dateArray[1]
    day = dateArray[2]
    todayDate = day +"-"+ month +"-"+ year
    var excelFileName = employeeName +" "+ todayDate        

    var table = $('#dataTable').DataTable({
        "processing": true,
        "serverSide": false,
        "stateSave": true,
        pagingType: "full_numbers",
        language: {
            // searchPlaceholder: "Type employee here to search...",search:"",
            info: "_START_ - _END_ of _TOTAL_ ",
            infoEmpty: " 0 - 0 of 0 ",
            infoFiltered: " ",
            "lengthMenu": 'Show <select>' +
                '<option value="10">10 Rows</option>' +
                '<option value="25">25 Rows</option>' +
                '<option value="50">50 Rows</option>' +
                '<option value="100">100 Rows</option>' +
                '<option value="-1">All Rows</option>' +
                '</select>',
            oPaginate: {
                sNext: '<i class="fa fa-angle-right" aria-hidden="true"></i>',
                sPrevious: '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                sFirst: '<i class="fa fa-step-backward fa-1x"></i>',
                sLast: '<i class="fa fa-step-forward fa-1x"></i>',
            }
        },
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        'columnDefs': [{
            'orderable': false, // set orderable false for selected columns
        }],

        orderCellsTop: true,
        "sDom": 'Rfrtlip',
    });
    var buttons = new $.fn.dataTable.Buttons(table, {
      buttons: [{
  title: excelFileName,
        extend : 'excel',
        text : '<span class="btn-shadow  btn btn-info exportButton" >Export <i class="fa fa-file-excel-o" aria-hidden="true"></i></span> '        
      }]
 }).container().appendTo($('#exportButton'));

}

  function getlastYear() {
    var trHtml = `<option>Select Week</option>`;
    var trYear = `<option>Select Year</option>`;
    year = $('#Year').val()
    employee = $('#CreatedBy').val()
    $.ajax({
        type: 'post',
        url: frontendURL + 'checktrackpro/getlastTask',
        data: {
            'csrfmiddlewaretoken': '{{csrf_token}}',
            'employee': employee
        },
        dataType: 'json',
        success: function(response) {
            $.each(response.uniqueWeek, function(a, b) {
                trHtml += `<option value="${b}">
                                    ${b}
                                </option>`
            });
            $.each(response.uniqueYear, function(a, b) {
                trYear += `<option value="${b}">
                                    ${b}
                                </option>`
            });
            $('#Week').html(trHtml);
            $('#Year').html(trYear);
            getData();
        },
        error: function(error) {
            console.log('error; ' + JSON.stringify(error));
        }
    });
}

function getYearWisedata() {

  var trHtml = `<option>Select Week</option>`;
  var trYear = `<option>Select Year</option>`;
  var year = $('#Year').val();
  var employee = $('#CreatedBy').val();
  $.ajax({
      type: 'post',
      url: frontendURL + 'checktrackpro/getlastTask',
      data: {
          'year': year,
          'employee': employee,
          'csrfmiddlewaretoken': '{{csrf_token}}',
      },
      dataType: 'json',
      success: function(response) {
          $.each(response.uniqueWeek, function(a, b) {
              trHtml += `<option value="${b}">
                                  ${b}
                              </option>`
          });
          $('#Week').html(trHtml);
          
      },
      error: function(error) {
          console.log('error; ' + JSON.stringify(error));
      }
  });
}

function getData() {
  if ($('#Year').text() != 'Select Year' && $('#Week').val() != 'Select Week'){
      trZon = '';
  trHtml = '';
  trZone = '';
  year = $('#Year').val()
  week = $('#Week').val()
  employee = $('#CreatedBy').val()
  $.ajax({
      type: 'post',
      url: frontendURL + 'checktrackpro/getAllTask',
      data: {
          'Year': year,
          'Week': week,
          'Employee': employee,
          'csrfmiddlewaretoken': '{{csrf_token}}',
      },
      dataType: 'json',

      success: function(response) {
        var taskhtml;
         $(response.Taskdata).each(function(i,o){
          console.log("ooooo",o)
          taskhtml +=`
          <tr class="first-row">

            <td>
              <p>`+o.AssignDate+`</p>
            </td>
            <td>
              <p>`+o.CreatedBy+`</p>
            </td>
            <td style="width: 65%;">
              `+o.ProjectName+`
              <p class="task-detail text-muted">`+o.TaskTitle+`
              </p>

            </td>
            <td>
              <p>`+o.AssignByStr+`</p>
            </td>
          </tr>
          `
         })
         initialiseDataTable(taskhtml)
         $("#usertaskdata").html(taskhtml);
      },
      error: function(error) {
          console.log('error; ' + JSON.stringify(error));
      }
  });
  }
}
</script>

{% endblock %}