{% extends "base.html" %}
{% load static %} 
{% block content %}
<style>
    #confpass{
        position: relative;
    }
    .toggle-password {
        cursor: pointer;
        position: absolute;
        display: block;
        right: 1rem;
        margin-top: -1.5rem;
    }
    button#sbtn{
        padding: 7px !important;
        border-radius: 5px !important;
    }
   
</style>

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-display1 icon-gradient bg-premium-dark"></i>
                </div>
                <div>Update password
                </div>
            </div>
       </div>
    </div> 

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                {% if messages %}
                          <div class="row" style="justify-content: center;">
                            <div class="col-sm-6 col-sm-offset-3">
                              {% for message in messages %}
                              <div style="margin:15px 0px" class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <p style="margin-bottom: 0px;">{{ message }}</p>
                              </div>
                              {% endfor %}
                            </div>
                          </div>
                {% endif %}
                <div class="card-body">
                    <div id="snackbar"></div>
                    <form class="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
            <div class="row">
                <div class="col-md-6">                   
                    <div class="position-relative form-group">
                        <label for="oldpassword" class="">Old Password</label>
                        <input name="oldpassword" id="oldpassword" placeholder="Enter Old Password" type="text" class="form-control" onkeyup="checkPassword()" autocomplete="new-password">
                        <span class="text-sm col-xs-11 error" id="oldpasswordtext" style="padding: 0px 0px 20px 0;"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">                   
                    <div class="position-relative form-group">
                        <label for="newpassword" class="">New Password</label>
                        <input name="newpassword" id="newpassword" placeholder="Enter New Password" type="password" class="form-control" onkeyup="checkPassword()" autocomplete="new-password">
                        <span class="text-sm col-xs-11 error" id="newpasswordtext" style="padding: 0px 0px 20px 0;"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">                   
                    <div class="position-relative form-group">
                        <label for="confpass" class="">Confirm Password</label>
                        <input name="confpass" id="confpass" placeholder="Enter Confirm Password" type="password" class="form-control" onkeyup="checkPassword()" autocomplete="new-password">
                        <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                        <span class="text-sm col-xs-11 error" id="confpasstext" style="padding: 0px 0px 20px 0;"></span>
                    </div>
                </div>

            </div>
            <div class="text-center btn-sub"> 
                <button disabled class="mt-1 submit-btn btn-lg text-center" id="sbtn" type="submit">Submit</button>
            </div>
            </form>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{{block.super}}

<script>
    function checkPassword(){
        var password = $('#newpassword').val();
        var pattern = /^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%&]).*$/;
        if(pattern.test(password)){
          $('#newpasswordtext').html('You are good to go..').css("color","green");
          check_pass()
            return true;
        }else{
          $('#newpasswordtext').html('');
          $('#newpasswordtext').html('Enter minimum 8 chars with atleast 1 number, lower, upper &amp; special(@#$%&) char.').css("color","red");
            return false;
        }
    }

    function check_pass(){
      var op = $('#oldpassword').val();
      var p = $('#newpassword').val();
      var cp = $('#confpass').val();
      if (p == "" && cp == "" && op == ""){
        $('#oldpassword').css("border","1px solid red");
        $('#newpassword').css("border","1px solid red");
        $('#confpass').css("border","1px solid red");
        $("#sbtn").prop('disabled', true)
        $("#sbtn").css("cursor", "not-allowed");
      }else if(p == cp && op == ""){
        $('#confpass').css("border","1px solid green");
        $('#newpassword').css("border","1px solid green");
        $('#oldpassword').css("border","1px solid red");
        $('#confpasstext').html("");
        $("#sbtn").prop('disabled', true)
        $("#sbtn").css("cursor", "not-allowed");
      }else if(p == cp && op != ""){
        $('#confpass').css("border","1px solid green");
        $('#newpassword').css("border","1px solid green");
        $('#oldpassword').css("border","1px solid green");
        $('#confpasstext').html("");
        $("#sbtn").prop('disabled', false)
        $("#sbtn").css("cursor", "pointer");
      }else{
        $('#oldpassword').css("border","1px solid red");
        $('#newpassword').css("border","1px solid red");
        $('#confpass').css("border","1px solid red");
        $('#confpasstext').html("Passwords do not match").css("color","red");
        $("#sbtn").prop('disabled', true)
        $("#sbtn").css("cursor", "not-allowed");
      }
    }

    $(".toggle-password").click(function() {
        $(this).toggleClass("fa-eye fa-eye-slash");
        input = $(this).parent().find("input");
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    })
</script>
{% endblock %}