{% extends "index.html" %}
{% load static %} 
{% block headercontent %}
Update Password
{% endblock %}
{%block content%}
<style>
    .error::first-letter {
        text-transform: uppercase;
      
    }
    #confpass{
        position: relative;
    }
    .toggle-password {
        cursor: pointer;
        position: absolute;
        display: block;
        right: 1rem;
        margin-top: -1.5rem;
    }
    .submitbtn{
    padding: 5px 30px;
    border-radius: 10rem;
    border: 1px solid #174fa3;
    background-color: #174fa3;
    border-color: #174fa3;
    color: white;
    }
</style>

<main class="main-wrapper">
<div class="app-main__inner">
    <div class="my-3 ps-2 d-none">
        <h5>
            Update Password
        </h5>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                {% if messages %}
                <div class="row" style="justify-content: center;">
                  <div class="col-sm-6 col-sm-offset-3">
                    {% for message in messages %}
                    <div style="display: flex; margin: 15px 0px;flex-direction: row-reverse;justify-content: center;align-items: center;" class="alert-meaasge alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="background: transparent; border: none; font-size: 25px; color: #ff0000;">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <p style="margin-bottom: 0px;">{{ message }}</p>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
                <div class="card-body">
                    <div id="snackbar"></div>
                    <form class="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mt-2">                   
                    <div class="position-relative form-group">
                        <label for="oldpassword" class="">Old Password</label>
                        <input name="oldpassword" id="oldpassword" placeholder="Enter Old Password" type="text" class="form-control" onchange="checkPassword()" autocomplete="new-password">
                        <span class="text-sm col-xs-11 error" id="oldpasswordtext" style="padding: 0px 0px 20px 0;"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 mt-2">                   
                    <div class="position-relative form-group">
                        <label for="newpassword" class="">New Password</label>
                        <input name="newpassword" id="newpassword" placeholder="Enter New Password" type="password" class="form-control" onkeyup="checkPassword()" autocomplete="new-password">
                        <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                        <span class="text-sm col-xs-11 error" id="newpasswordtext" style="padding: 0px 0px 20px 0;"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 mt-2">                   
                    <div class="position-relative form-group">
                        <label for="confpass" class="">Confirm Password</label>
                        <input name="confpass" id="confpass" placeholder="Enter Confirm Password" type="password" class="form-control" onkeyup="checkPassword()" autocomplete="new-password">
                        <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                        <span class="text-sm col-xs-11 error" id="confpasstext" style="padding: 0px 0px 20px 0;"></span>
                    </div>
                </div>

            </div>
            <div class="d-flex btndiv my-3 justify-content-center"> 
                <div class="text-center">
                    <p class="info-text error">please enter old password</p>

                <button disabled class=" submitbtn btn-lg text-center"  id="sbtn" type="submit">Submit</button>
                </div>
            </div>
            </form>
            </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}
{% block script %}
{{block.super}}

<script>
    function formvalidation(){
        var op = $('#oldpassword').val();
         
        if (op==""){
            $('#oldpasswordtext').show().delay(3000).slideUp();
            $('#oldpasswordtext').html('Please enter old password');
            $('#oldpassword').focus();
            return false;
            
        }

        
    }
    function checkPassword(){
         
        var oldpassword = $('#oldpassword').val();

        if (oldpassword != ""){

            $('.info-text').hide();
        
            var password = $('#newpassword').val();
            if (password != ""){

           

                var pattern = /^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%&]).*$/;
                if(pattern.test(password)){
                $('#newpasswordtext').html('You are good to go..').css("color","green");
                check_pass()
                    return true;
                }else{
                $('#newpasswordtext').html('');
                $('#newpasswordtext').html('please Enter minimum 8 characters with atleast 1 number, lower, upper &amp; special(@#$%&) characters.').css("color","red");
                    return false;
                }
            }else{
                $('#newpasswordtext').html('please enter new password');

            }

            }else{
                $('.info-text').show();
            }
    }

    function check_pass(){
      var op = $('#oldpassword').val();
      var p = $('#newpassword').val();
      var cp = $('#confpass').val();
      if (p == "" && cp == "" && op == ""){
        $('#oldpassword').css("border","1px solid red");
        $('#newpassword').css("border","1px solid red");
        $('#confpass').css("border","1px solid red");
        $("#sbtn").prop('disabled', true)
        $("#sbtn").css("cursor", "not-allowed");
      }else if(p == cp && op == ""){
        $('#confpass').css("border","1px solid green");
        $('#newpassword').css("border","1px solid green");
        $('#oldpassword').css("border","1px solid red");
        $('#confpasstext').html("");
        $("#sbtn").prop('disabled', true)
        $("#sbtn").css("cursor", "not-allowed");
      }else if(p == cp && op != ""){
        $('#confpass').css("border","1px solid green");
        $('#newpassword').css("border","1px solid green");
        $('#oldpassword').css("border","1px solid green");
        $('#confpasstext').html("");
        $("#sbtn").prop('disabled', false)
        $("#sbtn").css("cursor", "pointer");
      }else{
        $('#oldpassword').css("border","1px solid red");
        $('#newpassword').css("border","1px solid red");
        $('#confpass').css("border","1px solid red");
        $('#confpasstext').html("Passwords do not match").css("color","red");
        $("#sbtn").prop('disabled', true)
        $("#sbtn").css("cursor", "not-allowed");
      }
    }

    $(".toggle-password").click(function() {
        $(this).toggleClass("fa-eye fa-eye-slash");
        input = $(this).parent().find("input");
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    })
</script>
{% endblock %}