/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); */

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    margin: 0 20px;
}

.content {
    text-align: center;
}

.content p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.form-div {
    background: #fff;
    box-shadow: 0px 15px 30px #a35dff59 ;
    padding: 50px 40px;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}

.form-div img {
    width: 100%;
    margin: 0;
}

.form-div h3 {
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
    margin-top: 30px;
}

.form-div p {
    font-size: 40px;
    margin: 0;
    font-weight: 800;
    margin-bottom: 10px;
}

.form-div a {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    margin-bottom: 30px;
    text-decoration: none;
    color: #b66dff;
}

.login-btn {
    width: 100%;
    margin-top: 20px;
    background: transparent;
    border: 2px solid #b66dff;
    color: #b66dff;
    font-size: 18px;
    transition: 0.5s all;
    padding: 7px 0;
}

.login-btn:hover {
    background: #b66dff;
    border: 2px solid #b66dff;
}

input {
    border: 0 !important;
    background: transparent !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #b66dff !important;
    font-size: 16px !important;
    padding-left: 3px !important;
    padding-top: 30px !important;
}

input:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 #0000 !important;
}

.see-password {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #222;
}

.form-floating label {
    padding-left: 0;
}


/* Media query */

@media (max-width: 767px) {
    .content {
        margin: 20px;
    }
    .content img {
        width: 100% !important;
    }
    .form-div {
        padding: 45px 25px;
        width: 100%;
    }
    .form-div p {
        font-size: 35px;
        margin-bottom: 0;
    }
    .form-div h3 {
        font-size: 35px;
        margin-top: 30px;
    }
}










