*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

  /* background: url("./Media/Login/blue-curve-background.webp") no-repeat center;
  background-size: cover; */
  background-color: #5ecff838;
  /* background-color:  #174fa3; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-section{
  display: flex;
  height: 450px;
  width: 800px;
  margin: auto;
  border: 1px solid #fff;
  /* margin-top: 70px; */
  box-shadow: 0px 4px 8px #0000001f;
 
}
.form-group{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  /* align-items: center; */
  background-color: white;
  padding: 25px;
}

.form-group h2{
  margin: 20px 0px;
}
  
.form-floating label {
  padding-left: 0px;
 
}
.form-floating input {
  font-size: 16px;
  border: none;
  border-radius: 0;
  outline: none;
  display: block;
  background-color: #fff;
  border-bottom: 1px solid #000;
  
}
.login-email-btn{
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: none;
  border: none;
  color:  #174fa3;
}
.login-button{
  padding: 5px;
  width: 100%;
  margin-top: 15px;
  background: none;
  border: none;
  background:  #174fa3;
  border-radius: 2rem;
  font-size: 18px;
  font-weight: 500;
}

.form-group a{
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 13px;
 }
 .side{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 60%;
  background-color: #fff;
 }
 .side img{
  width: 450px;
  height: 450px;
 }
 .forgot-link{
  text-align: end;
 }

/* .background-box{
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
   background: url("./Media/Login/free-website-background-21.jpg") no-repeat center;
    background-size: cover;
 }

 .login-box{
  position: absolute; 
  bottom: 130px; 
  right: 179px; 
  border: none; 
  width: 600px; 
  height: auto;
  box-shadow: 0 0 10px #0000001f;
 }

 .left {
    background: url("./Media/Login/loginbg.png") no-repeat center;
    background-size: cover;
    display: flex;
    height: 100%;
    background-color: #f0f1f2;
    justify-content: center;
    align-items: center;
  }
  .login-logo{
    width: 160px;
    height: 30px;
    background: url(./Media/Sidebar/zentro_trackpro_logo.svg);
    background-size: cover; 
  }
  .right {
    padding: 30px;
    background-color: #fff;   
  }
  
  .form-floating label {
    padding-left: 0px;
  }
  .form-floating input {
    font-size: 16px;
    border: none;
    border-radius: 0;
    outline: none;
    display: block;
    background-color: #fff;
    border-bottom: 1px solid #000;
  }
  .login-email-btn{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: none;
    border: none;
    color: #174fa3;
  }
  .login-button{
    background: none;
    width: 100%;
    border-radius: 1rem;
    padding: 3px;
    background-color: #174fa3;
    border: none;
    color: #fff;
    margin-top: 10px;
  }
  .form-control:focus {
 
    outline: 0;
    box-shadow: none;
}
  .signup p {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
  }
  .signup a {
    color: #174fa3;
    font-size: 14px;
    text-decoration: none;
  }
  .login-heading {
    font-size: 20px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .forget-back-btn{
  width: 50%;
  padding: 3px;
  border: none;
  border-radius: 1rem;
  background-color: lightgray;
  margin-right: 5px;

  }
  .forget-con-btn{
    width: 50%;
    padding: 3px;
    border: none;
    border-radius: 1rem;
    background-color: #174fa3;
    margin-left: 5px;
    color: #fff;
  }

   */