{% extends "index.html" %} {% load static %}{% block headercontent %}
<div class="nav-item newheading">
    Shift Dashboard
</div>
{% endblock %}{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/companylist.css' %}">
<link rel="stylesheet" href="https://fullcalendar.io/css/base.css?3.4.0-1.6.2-3">
<link rel="stylesheet" href="https://fullcalendar.io/js/fullcalendar-3.4.0/fullcalendar.min.css">



<style>
    #calendar {
		margin: 3px 10px;
	}
    .fc-row .fc-widget-header {
        padding: 10px;
        border: none;
        background: white;
        color: #5E676F;
        font-weight: 500;
    }

    .fc td, .fc th {
        border-style: solid;
        border-width: 1px;
        padding: 0;
        vertical-align: top;
        background: white;
    }
    .fc .fc-button-group>* {
        float: left;
        margin: 0 0 0 -1px;
        border: 0px;
        background: transparent;
    }
    .fc-state-active{
        background-color: transparent;
        background-image: none;
        box-shadow: none;
        border-radius: 0px !important;
        border-bottom: 2px solid #00A0EF !important;

    }
    .fc-state-default {

        box-shadow: none;
    }
    .fc-time-grid-event .fc-time {
        font-size: 16px;
        white-space: nowrap;
        display: flex;

    }
    .fc-day-grid-event .fc-time {
        font-weight: 700;
        display: flex;
    }
    .fc-time-grid-event .fc-content {
        overflow: hidden;
        font-size: 14px !important;
        padding: 0px 5px;
        
    }
    .fc-time-grid-event{
        overflow-y: scroll;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
    }


    .fc-time-grid .fc-slats td {
        border-bottom: 0;
    }
    .fc-time-grid-container{
        max-height: 75vh !important;
        overflow-y: scroll;
    
    }
    .fc-day-grid-container {
        max-height: 75vh !important;
        overflow-y: scroll;
    
    }
    hr{
        margin: 0px;
    }


    .fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
        padding-bottom: 0px;
    }

    #eventhead{
        font-size: 14px;
        font-weight: 400;
        color: grey;
        border-bottom: 1px solid grey;
        padding: 10px 0;

    }
    #eventTitle{
        font-size: 14px;
        border: 1px solid grey;
        padding: 10px;
        border-radius: 9px;
        
        margin-bottom: 12px;

        }
  
    .fc-view, .fc-view>table {

        border-radius: 11px !important;
        padding: 5px;
    }
    .fc-view-container *, .fc-view-container :after, .fc-view-container :before {

        color: #5E676F;
    }
    .fc-event  {
        left: 0% !important; 
        right: 0% !important; 
        margin:0px !important;
    }
    .fc-event-container .fc-event {
        z-index: 1; /* Set a base z-index for all .fc-event elements */
        transition: z-index 0.5s ease, transform 0.5s ease; /* Add transitions for opacity, z-index, and transform properties */

        /* Use the :nth-child pseudo-class to increase z-index for each .fc-event */
        &:nth-child(1) {
            z-index: 2 !important;
        }
    
        &:nth-child(2) {
            z-index: 3 !important;
        }
        &:nth-child(3) {
            z-index: 4 !important;
        }
        &:nth-child(4) {
            z-index: 5 !important;
        }
        &:nth-child(5) {
            z-index: 6 !important;
        }
        &:nth-child(6) {
            z-index: 7 !important;
        }
    
        /* Add more styles for additional .fc-event elements as needed */
    }
    .fc-event-container .fc-event:hover{
        z-index: 10 !important;
        transform: scale(1.01); /* Add a scale transform for a subtle zoom effect */
    }
    .fc-today-button {
        border: 1px solid #33BFFF;
        background: transparent;
        color: black;
        border-radius: 25px !important;
        font-size: 14px !important;
        padding: 0px 20px !important;
    }
    .main-wrapper {

        background: white;
            padding-top: 1rem;
            margin: 5rem 1rem 10rem 1rem;
        
    }
    .fc-toolbar .fc-center {
        display: block;
    }
    .fc-toolbar .fc-left {
        float: right;
        display: flex;

    }
    #rightsection{
        display: flex;
        flex-direction: column;
    }
    .calender-heading{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .icon-heading{
        display: flex!important;
        flex-direction: row;
        align-items: flex-start;
    }
    .fc-center>h5{    color: grey;
    font-size: 16px;
    font-weight: 400;
}
.modal-content {
    border-radius: 0px !important;
    padding: 0px 0px;    
    border: none;

}

.modal-header {
    border-radius: 0px;

    background: #00A0EF;
}
.modal-title-calender{
    font-size: 16px;
}

.fa-spin{
    font-size: 40px;
    color: #00A0EF;
    
}
.spiner {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 51%;
    left: 50%;
    z-index: 100;
}
.fc-month-button{
    display: none;
}
.font-weight-500{
    font-weight: 500;
}
</style>

<!-- Main page -> Manage Task -->
<main class="main-wrapper">
  <!-- ==================Row1======================= -->
  <div id='calendar'></div>
  <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-calender modal-xl" role="document">
      <div class="modal-content modal-content-calender">
        <div class="modal-header">
          <p class="modal-title modal-title-calender text-white py-3" id="eventModalLabel">Shift Details</p>
          <button type="button" class="close text-white" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="eventhead"></p>
          <div id="eventTitle">
            <table id="attendance_report_table" class="w-100">
                <thead>
                    <tr>
                        <td class="font-weight-500"> Sr No</td>
                        <td class="font-weight-500"> Employee Name</td>
                        <td class="font-weight-500"> Position</td>
                        <td class="font-weight-500"> Login Time</td>
                        <td class="font-weight-500"> Logout Time</td>
                        <td class="font-weight-500"> Total HRS</td>
                        <td class="font-weight-500"> Status</td>
                        <td class="font-weight-500"> Shift</td>
                    </tr>
                </thead>
                <tbody id='attendance_report'>
                    
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row d-flex justify-content-between align-items-center h-100">
    <div class="col-md-12 taskcontent textpadding">
      
    </div>
  </div>
</main>





{%endblock%}{%block script%}{{block.super}}
<script src="https://rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/shiftdashboard.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css" integrity="sha512-BMbq2It2D3J17/C7aRklzOODG1IQ3+MHw3ifzBHMBwGO/0yUqYmsStgBjI0z5EYlaDEFnvYV7gNYdD3vFLRKsA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script>
    $(document).ready(function(){
        $("#menu2").click(function(){
          
            $('.content').fadeToggle();
            $(this).toggleClass("openmenu2");
        });
    });
</script>
{%endblock%}
