{% extends "index.html" %}
{% load static %} 
{% block headercontent %}
Leave Types Master
{% endblock %}
{% block content %}
<style>
  .fa-minus-circle{
    font-size:22px
  }
  .savebtn {
    background: #00a1ff !important;
    padding: 5px 25px !important;
    margin: 0px !important;
    border-radius: 24px !important;
    font-size: 15px !important;
    color: white !important;
    text-align: center;
    border: none;
}
.del-icon{
  cursor:pointer;
}

.modal-body label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #174fa3;
}
.modal-body input {
    width: 100%;
    font-size: 16px;
    color: #5f5b5b;
    border: none;
    border-bottom: 1px solid rgb(214, 214, 214);
    background: transparent;
    height: 30px;
    transition: border 0.4s ease;
    margin-bottom:12px;
}
.modal-body input:focus{
    width: 100%;
    font-size: 16px;
    color: #5f5b5b;
    border: none;
    border-bottom: 1px solid rgb(214, 214, 214);
    background: transparent;
    height: 30px;
    transition: border 0.4s ease;
    margin-bottom:12px;
    outline:none;
}
.currentmonth{
  color:Green;
}
#calendarIcon {

  bottom: 30px;
  right: 30px;
}

</style>
<main class="main-wrapper">
    {% if messages %}
    <div class="row" style="justify-content: center;">
      <div class="col-sm-6 col-sm-offset-3">
        {% for message in messages %}
        <div style="display: flex; margin: 15px 0px;flex-direction: row-reverse;justify-content: center;align-items: center;" class="alert-meaasge alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="background: transparent; border: none; font-size: 25px; color: #ff0000;">
            <span aria-hidden="true">&times;</span>
          </button>
          <p style="margin-bottom: 0px;">{{ message }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <div id="snackbar"></div>



 
     

        <div class="table-div">
            <table id="myTable" class="row-border w-100" >
              <thead>
                <tr class="">
                  <th style="width:10%" class="">Sr. No</th>
                  <th style="" class="">Leave Type</th>
                  <th style="width:10%" class="">Actions</th>
                </tr>
              </thead>
              <tbody>
                {%for i in leavetypes %}

                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{i.TypeName}}</td>
                  <td>
                      <a class="viewEmpDeetsBtn" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#updatemodal{{i.id}}"><img class="edit-icon" src="{% static 'assets/images/Group 16728.svg' %}" height="20px" alt="edit icon"></a>   
                      <a class="px-1 deleteholbtn" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#deletemodal{{i.id}}"><img class="del-icon" src="{% static 'assets/images/Group 16729.svg' %}" height="20px" alt="delete icon"></a>
                    
                  </td>
              </tr>
              {%endfor%}
              </tbody>                 
            </table>
        </div>
  
        <div class="modal fade" id="addmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
              <form class="formstyle" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="modal-header ps-4">
                <h5 class="modal-title py-2" id="exampleModalLabel">Add Leave Type</h5>
              </div>
              <div class="modal-body">
                <div class="row">
                  
                  <div class="col-12 px-4" style="position:relative;">
                      <label for="TypeName">Type Name<span style="color:red;">*</span></label>
                        <input type="text" class="" id="TypeName" value=""  name="TypeName"  placeholder="Enter Type Name">
                        <span id="TypeNameerror" class="error"></span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-gradient-danger btn-rounded btn-fw" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-gradient-info btn-rounded btn-fw" id="addEmployeeBtn"  onclick="return formValidation();">Submit</button>
              </div>
            </form>
            </div>
          </div>
        </div>


    {% for i in leavetypes %}
    <div class="modal fade" id="updatemodal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
          <div class="modal-header ps-4">
            <h5 class="modal-title py-2" id="exampleModalLabel">Update Leave Type</h5>
          </div>
          <div class="modal-body">
            <div class="row">

              <div class="col-12 px-4">
                  <label for="updateleavetype{{i.id}}">Type Name</label>
                  <input type="text" class="" id="updateleavetype{{i.id}}" value="{{i.TypeName}}">
                  <span id="updateleavetypeerror{{i.id}}" class="error-message"></span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-gradient-danger btn-rounded btn-fw" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-gradient-info btn-rounded btn-fw" id="addEmployeeBtn" onclick="updateleavetype('{{i.id}}')">Update</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for i in leavetypes %}
    <div class="modal fade" id="deletemodal{{i.id}}"  aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
          Are you sure you want to delete?
          </div>
          <div class="modal-footer">
            <a href="javascript:void(0)" onclick="deleteleavetype('{{i.id}}')" class="btn btn-danger" data-bs-dismiss="modal">Yes</a>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</main>
{% endblock %}
{% block indexaddbuttons %}
<li><a data-bs-toggle="modal" data-bs-target="#addmodal">
  <img id="icon" class="floatingimg" data-bs-toggle="tooltip" data-bs-placement="left" title="Add leave types"
  src="{% static 'assets/svg/leavetypes.svg' %}">
</a></li>
{% endblock %}

{% block script %}
{{block.super}}
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();




      
    });

    function formValidation(){
        var TypeName = $('#TypeName').val().trim();   
        if(IsValid(TypeName)) {
          $('#TypeName').html('');
          $('#TypeNameerror').show().delay(3000).slideUp();
          $('#TypeNameerror').html('Type Name is required');
          $('#TypeName').focus();
          return false;
        }
       
    }



    function updateleavetype(id) {
         
        var TypeName = $('#updateleavetype'+id).val().trim();
      
        if(IsValid(TypeName)) {
          $('#updateleavetype'+id).html('');
          $('#updateleavetypeerror'+id).show().delay(3000).slideUp();
          $('#updateleavetypeerror'+id).html('Type name is required');
          $('#updateleavetype'+id).focus();
          return false;
        }
        else{

          $.ajax({
              type: "POST",
              url: frontendURL + "leave/update_leavetype",
              data: {
                  'id':id,
                  'TypeName':TypeName,
                  csrfmiddlewaretoken: '{{ csrf_token }}',
              },
              success: function (response) {         
                  console.log("reps",response)
                  if(response.n == 1){
                      window.location = frontendURL + "leave/leavetype";
                  }else{
                      window.location = frontendURL + "leave/leavetype";
                  }
                  
              }
          });
        }
    }



    function deleteleavetype(id) {
        var id = id;
       
          $.ajax({
              type: "POST",
              url: frontendURL + "leave/delete_leavetype",
              data: {
                  'id':id,
                  csrfmiddlewaretoken: '{{ csrf_token }}',
              },
              success: function (response) {         
                  console.log("response",response)
                  if(response.n == 1){
                      window.location = frontendURL + "leave/leavetype";
                  }else{
                      window.location = frontendURL + "leave/leavetype";
                  }
                  
              }
          });
        
      }
</script>
{% endblock %} 