
<!doctype html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
{% load static %}
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta http-equiv="Content-Language" content="en">
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>Zentro Inventory - Login</title>
 <meta name="viewport"
 content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
 <meta name="description" content="">

 <!-- Disable tap highlight on IE -->
 <meta name="msapplication-tap-highlight" content="no">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
 <link href="{% static 'assets/style/main.d810cf0ae7f39f28f336.css'%}" rel="stylesheet">
 <link href="{% static 'assets/style/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="app-main">

  <div class="app-main__outer">
   <div class="app-main__inner">
  <!--   <div class="inner-content">
      <div class="app-page-title title-mt">
       <div class="page-title-wrapper">
        <div class="page-title-heading">

         <div class="page-head">Sales Overview

          </div> 
        </div>

      </div>
    </div> -->    
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="error-content">
         <h2>404</h2>
    <h4>Oops! Page not found.</h4>
<p>We could not find the page you were looking for. Meanwhile, you may return to dashboard or try using the search form.</p>
<a href="{% url 'UsersUI:home' %}" class="btn-shadow  btn btn-info">Go Back</a>
</div>
      </div>
   
</div>

</div>


</div>
</div>

</body>
